[2020-04-27 03:27] #697 closed

[2020-04-27 04:33] declanshanaghy commented on #700
I started a fork here to add this myself https://github.com/declanshanaghy/esphome
This will be my first contribution to ESPHome so any pointers appreciated.
I figure i can base this from the existing  MAX31855, MAX31865 and Adafruit's implementation for the MAX31856 (https://github.com/adafruit/Adafruit_MAX31856)

[2020-04-27 06:00] theone11 commented on #698
A config option would be good.
I assumed it would need changing the core code.

[2020-04-27 07:42] flouck commented on #699
Hi @glmnet,
I am sorry, I am still learning and discovering.
Does it mean ESPHome cannot be used on an ESP if I want to handle RF? Or does it mean I can use this ESP to be managed by ESPHome and I. The same time manage myself the tranceiver ?

[2020-04-27 08:20] Gio-dot opened #702 "Wiegand readers support"
Describe the problem you have/What new integration you would like

I think it will be very useful to add support for Wiegand reader devices. They can be used to integrate secure access control to Home assistant.

Please describe your use case for this integration and alternatives you've tried:

I used these readers with arduino using monkeyboard library https://github.com/monkeyboard/Wiegand-Proto

[2020-04-27 08:20] #702 closed

[2020-04-27 08:26] Gio-dot opened #703 "Wiegand readers support"
**Describe the problem you have/What new integration you would like**

I think it will be very useful to add support for Wiegand reader devices. They can be used to integrate secure access control to Home assistant; to open a door or to enable/disable an alarm system using a simple rfid tag.
![image](https://user-images.githubusercontent.com/55327160/80354185-b0af0500-8876-11ea-801f-52103d28fc03.p

[2020-04-27 09:15] magiva commented on #242
being able to ping HA to see if its alive and then reset it would be a bonus when away from home and HA locks up

[2020-04-27 11:16] randybb commented on #703
https://github.com/esphome/feature-requests/issues/211

[2020-04-27 11:48] Diramu opened #704 "turn_off()/turn_on() functions for status_led component to use led after device is connected"
**Describe the problem you have/What new integration you would like**

It would be useful if status_led, also work as a generic output gpio component once the device is connected  (api or mqtt).  Before the device is connect, these function will not work.

**Please describe your use case for this integration and alternatives you've tried:**

The following example does what I want without this feat

[2020-04-27 11:55] glmnet commented on #699
I made a google search and find no much info about 868mhz nor your water meter.

Please provide more technical information linked.

[2020-04-27 12:01] jaddel commented on #52
Did figure out how to make it work?
Please leave a example if you managed to get it working.

[2020-04-27 12:15] flouck commented on #699
Alright, thank you @glmnet.

The water meter is designed by Homeridersystems, the model is HRF-c-G2 v1.6 and it emits in 868MHz. This page (sorry, it is in French) has been able to hack into a similar water meter in 433MHz by simulating the signal to wake up the water meter. By reading the comments, it seems to be working on Domoticz.
http://www.lamaisonsimon.fr/wiki/doku.php?id=maison2:compteur_d

[2020-04-27 12:25] glmnet commented on #699
seems to use UART too, so far we don't have any RF protocol which talks UART.

Also you are missing the hardware transceiver, i.e. I own a 433mhz and 315mhz one, they look like this https://www.banggood.com/3sets-433MHz-100M-Wireless-Transceiver-Module-Kit-Transmitter-Receiver-Copper-Spring-Antenna-p-1187020.html?cur_warehouse=CN

You'll need stuff like this for 868mhz

[2020-04-27 12:28] glmnet commented on #699
To get this working with ESPHome will require a lot of research and effort, and those things aren't much popular yet.

[2020-04-27 12:39] flouck commented on #699
Oh ok I understand.. Of course, I will need to buy hardware and I don't mind that.
Do you have any clue on how I can achieve what I am trying to do? Maybe a tip which I can use to I look for the solution to my problem.

[2020-04-27 13:51] ahpohl commented on #552
@Moser-ss I created a new branch [ahpohl/esphome:provision](https://github.com/ahpohl/esphome/tree/provision).

So far I added a new config item `provison` and some code to generate a random AES 128 bit key. If `provision = yes`, the bindkey given in the config is overwritten. As the new key is not uploaded to the device yet, packet decryption fails (as one would expect).

In a nutshell:
- Read Ex

[2020-04-27 14:11] coldpenguin commented on #552
@ahpohl You will also need to upload the extension codes to the device as well to enable broadcasting. This appeared to still be missing from the mi-standardauth at the moment (is still a work in progress).
You might need to see how much extra code this is adding to the compiled program, as the btle and bt stacks might have a different base. I still think this would be better as a different 'senso

[2020-04-27 14:51] ahpohl commented on #552
I agree, the current total firmware size is already >92 % so there is not much room for more 'features' in the `xiaomi_*` components

With reverse engineering I am still a noob. If you know good tutorials to get you started let me know. So far I rely on good documentation ...

[2020-04-27 14:57] iBobik opened #705 "Document all supported YAML extensions"
**Describe the problem you have/What new integration you would like**
I miss proper docs on what features I can use in YAML files on top of the specification (anchors, overrides, includes, …). This docs should include examples for common use cases.

**Please describe your use case for this integration and alternatives you've tried:**

I would like to have common settings in shared config files, so

[2020-04-27 15:02] glmnet commented on #705
Also here https://next.esphome.io/guides/faq.html#tips-for-using-esphome it refers to (most) HA extensions being supported

[2020-04-27 15:42] rspaargaren commented on #14
I am working on the direct max7219 digit integration within ESPHOME. Any testers here. At this moment I can display a single digit on each section but with a bit of flickering. So I need a bit of fine tuning.

[2020-04-27 15:51] kbouchard111 commented on #691
pull request submitted to update documentation(hope I did that correctly).

As for TX power reverting back to default value, it appears to happen around the 30min mark.
Uptime counter is not being reset which indicates its not a restart of the ESP8266.
I'll do some more testing across all nodes to see if the time interval varies and if setting log level: VERY_VERBOSE provides any indication on wha

[2020-04-27 17:01] Beltshassar commented on #14
I have the hardware, but where should I drop the files for esphome to notice?

[2020-04-27 17:30] rspaargaren commented on #14
https://github.com/rspaargaren/esphome/tree/NextionUpdate/esphome/components/max7219digit these files need to be added to the esphome files. Basically complete directory.

[2020-04-27 19:26] Beltshassar commented on #14
@rspaargaren
Great - I have cloned the branch and linked the max7219digit folder into the components folder of my installation.

There's a few warnings concerning max7219digit.cpp during compiling and all pixels in the display is on after flashing.

I use a Wemos D1 mini (probably a clone)

Virtualenv:
  Python 3.7.7
  ESPHome 1.14.3

[code]

[2020-04-27 19:57] rspaargaren commented on #14
Yes the "warning" is known and I will clean that up. First time all my pixels where green as well but after complete reboot. (disconnect from power) it worked. Although blinking but I am working on that. I use a wemos d1 mini clone as well.

[2020-04-27 20:55] rspaargaren commented on #14
I did a bit of furhter update on the code and proof of concept I can at least show the numbers. Now need to have a view on the update routine.
![IMG_4550](https://user-images.githubusercontent.com/10338724/80419894-31531d00-88da-11ea-8caf-e58f77734910.jpg)

[2020-04-27 22:15] danps1 commented on #52
I haven't yet given it a try, but if you want to what you'll need to do is use the dev branch of esphome as the http_request component has not yet been merged into the master branch.

[2020-04-27 23:41] glmnet commented on #704
https://github.com/esphome/feature-requests/issues/697

[2020-04-27 23:41] #704 closed

[2020-04-28 00:03] Diramu commented on #697
I believe my original cod is the hack.  I do want led to revert back to 'led_status' when connection is lost.

Actually a better method would to  have
[code]
a status option output:

[2020-04-28 00:28] danps1 commented on #52
One thing I can't work out is if the http_request component allows for authorization?

The http_server component supports digest auth, so it would be really good if we could use http_request from one ESP to control another ESP in a secure manner

[2020-04-28 06:05] Beltshassar commented on #14
Ah well a reboot makes all the difference
![CEFB6064-A9A7-4B0A-8066-BEFDC542A6C1](https://user-images.githubusercontent.com/15835725/80452633-f62b0b00-8926-11ea-820e-7875c489e450.jpeg)

[2020-04-28 06:19] ceaswaran commented on #14
**Wr exactly these files go? I mean which folder? I don't see any components folder mentioned above either under config folder or under esphome folder. Please help**

[2020-04-28 06:55] Beltshassar commented on #14
It probably depends on your OS and how your installation was made.
I'm running espHome as a Freenas-plugin, which in reality is a installation inside a FreeBSD jail.
My components path was here:
/usr/local/srv/esphome/lib64/python3.7/site-packages/esphome/components/

[2020-04-28 08:24] cvanaalst commented on #14
I am running HASSIO with the ESPHOME-addon; I am not a docker
specialist, but found that the /opt/esphome/esphome/components/ contains
all the component-packages .. I have the Portainer addon and that's how
I found it. But I have no idea how to add the max7219digit files to that
docker image ...

Op 28/04/2020 om 8:55 schreef Beltshassar:

--
Chris van Aalst
cva@skynet.be

[2020-04-28 08:43] rspaargaren commented on #14
@cvanaalst I do not have an updated docker image of my build and it is work in progress. The easiest way at the moment is to map a directory for the docker container.

[2020-04-28 09:02] PrzemoPOL commented on #552
@ahpohl Your code works for Qingping Alarm Clock (CGD1).
Magic bytes for CGD1
bool is_cgd1 = (raw[1] & 0x58) == 0x58 && raw[2] == 0x76 && raw[3] == 0x05;

I just cloned your code changing all lwsd003mmc to cgd1 and added cgd1 to xiaomi_ble.
I have xiaomi_lywsd02, xiaomi_lywsd03mmc and xiaomi_cgd1 in one config.

[2020-04-28 10:07] Hedda commented on #688
FYI @SillyDay don't own a E180-ZG120B but has tried to build a firmware for it as per discussion here:

https://github.com/Koenkk/zigbee-herdsman/issues/168

SillyDay GitHub repo for EFR32 firmware:

https://github.com/SillyDay/EFR32

[2020-04-28 11:24] patvdleer commented on #51
is there any easy way to get the git branch into esphome on hass.io?

[2020-04-28 13:18] zejulio commented on #51
I lost days around this without a fix.
My alternative was to install esphome in ubuntu and there it works...

[2020-04-28 14:04] ahpohl commented on #552
@PrzemoPOL Thanks for your feedback. You could submit a pull request against the `ahpohl/esphome:xiaomi_lwsd03mmc` branch and I'll merge your CGD1 changes with the dev branch after review.

[2020-04-28 14:23] ahpohl commented on #552
@coldpenguin Have you tried fixing mi-standardauth? For a start, including a python script for bindkey uploading as a 'tool' within ESPHome would be still better than going through the process of ssl packet capturing with the Mi Home app.

[2020-04-28 14:48] coldpenguin commented on #552
I have just received (out of quarantine ) 6 new devices.
I configured 2 devices using the MiHome device, and I tried the mi-standardauth against a new non-configured device. I got a bindkey, but no advertisements whatsoever AFAICT. I changed to your branch to confirm it wasn't an issue with my code, but I then appeared to have issues with a loss of distance on the sensors. I got distracted then.
W

[2020-04-28 15:48] danielkucera commented on #552
Let me say a few words here. MiHome is strongly obfuscated so you get method and variable names lake a,b,c,d etc. after decompilation.
My implementation mimics the phone app and outputs bind_key but for some reason it does not work. There is a few possible causes: differend hkdf, ecdh or any other black magic.
My current plan is dissect the code from phone app and create my own android app with sa

[2020-04-28 16:11] theone11 opened #706 "Can't trigger automations based on output and/or light states changes in HA"
**Describe the problem you have/What new integration you would like**
I have a light switch (generic tuya WF-WS01) with a button, led, relay.
I defined then using:
- binary_sensor/gpio (button)
- switch/gpio (led)
- output/gpio + light/binary (relay)

I want to change the led state based on the output/light state if it changes in HA.

**Please describe your use case for this integration and altern

[2020-04-28 16:14] coldpenguin commented on #552
Which class is that @danielkucera ?
When I decode the stuff most of it looks 'ok'
[code]

[2020-04-28 16:43] danielkucera commented on #552
@coldpenguin mostly this one:
https://github.com/danielkucera/mihome-src/blob/master/sources/com/xiaomi/smarthome/core/server/internal/bluetooth/security/standardauth/BleStandardAuthRegisterConnector.java
or with some objects refactored:
https://github.com/danielkucera/mihome-src/blob/deobfusc/sources/com/xiaomi/smarthome/core/server/internal/bluetooth/security/standardauth/BleStandardAuthRegister

[2020-04-28 18:27] yschroeder commented on #260
I would also like to see this functionality! A WWA mode for the FastLED module so that the Flux component can control the color temperature of the LED strip.

[2020-04-28 18:36] coldpenguin commented on #552
It should make no difference, but are you looking at the android or iPhone version? I don’t seem to have that file in the output I kept (android vevs). I did have several different decodes though as some worked better than others. Will have to go back through my history.

From: Daniel Kucera
Sent: 28 April 2020 17:43
To: esphome/feature-requests
Cc: coldpenguin; Mention
Subject: Re: [esphome/featu

[2020-04-28 19:07] theone11 opened #707 "Add assumed_state option for time-based cover"
**Describe the problem you have/What new integration you would like**
When using a timed-based cover HA uses default assumed_state true and open/close button are always on.

**Please describe your use case for this integration and alternatives you've tried:**
In order to change assumed_state to false I need to add customization in HA for every ESPHome time based cover component.
If in the future I

[2020-04-28 19:24] glmnet commented on #707
https://github.com/esphome/esphome/pull/979

[2020-04-28 19:24] #707 closed

[2020-04-28 19:27] glmnet commented on #706
duplicate of #98 also fixed in https://github.com/esphome/esphome/pull/1037

[2020-04-28 19:27] #706 closed

[2020-04-28 20:35] tuxmartin opened #708 "Add Modbus slave support (RTU and TCP)"
**Describe the problem you have/What new integration you would like**

It would be great to be able to use ESPhome on ESP32 as a Modbus slave.

I would like to use Modbus RTU via RS-485, but Modbus TCP would also suffice.

**Please describe your use case for this integration and alternatives you've tried:**

I asked at Discord and ESPhome can only use Modbus master.

**Additional context**

/

[2020-04-28 21:38] Cirrus94 commented on #425
I would also love to have the option to set only one specific target temperature instead of a range. Is there a chance that this is implemented?

[2020-04-29 01:02] danps1 opened #709 "Implement Auth support in http_request"
**Describe the problem you have/What new integration you would like**

Please consider adding authentication support to the new http_request component - https://next.esphome.io/components/http_request.html

**Please describe your use case for this integration and alternatives you've tried:**

This would allow for authenticated ESP to ESP communication using the Rest API - https://esphome.io/web-ap

[2020-04-29 13:04] #465 closed

[2020-04-29 13:04] #561 closed

[2020-04-29 13:04] #685 closed

[2020-04-29 17:42] rspaargaren commented on #14
Got it in scrolling mode now but cannot post a video on this channel...

[2020-04-29 19:03] Beltshassar commented on #14
Nice, do I need any additional configuration for scrolling?
I've pulled the latest changes and the text is nice, no more flickering. But theres no scrolling even though I've added extra text.

[2020-04-29 19:13] rspaargaren commented on #14
No I will create an instruction on that. It needs a bit of finetune to control the loop! I will leave a message when ready

[2020-04-29 19:19] brandond commented on #709
You can already do this, you just need to craft the auth header yourself. You can get the base64 string from `echo -n  "username:password" | base64` - if there are special characters in either you'll need to urlencode them first.

[code]

[2020-04-29 21:58] maximoei commented on #138
Current PID only supports Float outputs, would be great if Binary could also be supported

[2020-04-30 00:15] TheHomieFox commented on #339
+1, this would be a great feature to have.

[2020-04-30 00:58] danps1 commented on #709
Thanks @brandond - that's really good to know
I must be doing something elementary wrong, but when I try and test this out, I get config errors. I should be using the ```dev``` branch right?...
[code]

[2020-04-30 08:54] JonathanTreffler opened #710 "Warn user when trying to use a dht sensor on input only pin"
**Describe the problem you have/What new integration you would like**
I wasted 3 hours yesterday, because i didn't know GPIO35 on my node-mcu-32 only supports Input -> my DHT11 Sensor didn't work and in the log a generic error message got logged:
[code]

This is not a bug, because it was my fault, but a more specific error message would have saved me a lot of time.
I found out by accident, that it

[2020-04-30 10:07] RoadkillUK commented on #14
Hi all, I was just looking to see if it was possible to use these 8x8 matrices, then I come along this thread, cool.  Anyway, I'm on HASSIO here and I have your component working as far as yourself.

I'm just here to say that @cvanaalst, the simplest way to add components for testing is to create a ``` custom_components ``` folder in your ``` /config/esphome/ ``` folder

example:
``` config/esphom

[2020-04-30 10:21] brandond commented on #709
Please read the http_request docs that you linked to - it sounds like you forgot to create a http_request component? If you have and it's still not working, post your full configuration yaml.

[2020-04-30 10:25] cvanaalst commented on #14
@RoadkillUK thx I’ll give that a try !
Chris

Verstuurd vanaf mijn iPhone

[2020-04-30 11:43] valepe opened #711 "PCA9554 port expander"
**Describe the problem you have/What new integration you would like**

Is it possible to add the PCA9554 to the I2C port expander integrations?
**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-04-30 12:26] ceaswaran commented on #14
i get the following error while compiling

[code]

[2020-04-30 12:38] RoadkillUK commented on #14
Blx. @cvanaalst I got it wrong, just noticed !!  The description is correct, the example is wrong !!

``` config/esphome/custom_components/MAX7219digit/ ```

I've edited the original too.

[2020-04-30 12:41] ceaswaran commented on #14
Thanks

but i see more errors while compiling
please help
[code]

[2020-04-30 12:46] RoadkillUK commented on #14
That my friend is WAY beyond me, I'm uploading mine to an ESP32, don't know if that makes a difference.

[2020-04-30 12:52] rspaargaren commented on #14
Hi all,

The location of the files should be in:
esphome/esphome/components/max7219digit/

Not in CUSTOM components!

[2020-04-30 13:06] RoadkillUK commented on #14
![Screenshot 2020-04-30 13 56 26](https://user-images.githubusercontent.com/31829007/80713153-e78d5100-8aea-11ea-9497-eae80bf00f5b.jpg)

This works for Hassio

![IMG_20200430_140311](https://user-images.githubusercontent.com/31829007/80713687-c1b47c00-8aeb-11ea-9b3b-d1e1f5e4f22c.jpg)

[2020-04-30 13:43] rspaargaren commented on #14
Ok did not know that, but you can install the files in the directory as indicated by me as well. Or at least that is where I am having them during the development phase.
So now I still have some features I am thinking of implementation:
- Scrolling (for larger text display) or cool effect from left to right or visa versa -> Almost done
- ICONS -> basically already possible as long as we add them t

[2020-04-30 13:52] rspaargaren commented on #14
@ceaswaran  Are you having a configuration for the original MAX7219 in your config as well?

[2020-04-30 14:36] ceaswaran commented on #14
nope @rspaargaren below is my esphome .yaml

[code]

[2020-04-30 14:52] RoadkillUK commented on #14
@rspaargaren  You're doing a great job, if I think of anything I'll let you know.

[2020-04-30 14:57] RoadkillUK commented on #14
@ceaswaran

This is mine, I've trimmed off the crap (I had other things on it too).

[code]

[2020-04-30 15:20] rspaargaren commented on #14
@ceaswaran
indeed remove the includes part:
    - custom_components/max7219digit/max7219digit.cpp
    - custom_components/max7219digit/max7219digit.h
    - custom_components/max7219digit/max7219font.h
esphome is locating these file during compiling by default. either in component (or in custom-component ;-) directory)

[2020-04-30 15:46] ceaswaran commented on #14
I see the following error after removing includes & compiling

[code]

[2020-04-30 16:18] RoadkillUK commented on #14
Well, @ceaswaran.  I've just set up a ESP8266, uploaded your code and it's absolutely fine, sorry I can't help any further.

![IMG_20200430_171449](https://user-images.githubusercontent.com/31829007/80734091-8c695780-8b06-11ea-9d1b-45e7c66217c8.jpg)

[2020-04-30 16:29] randybb commented on #710
You have learned that you have to check documentation or at least pinout diagram and this is not waste of time. This is case of every MCU/SoC... and it is even worse on MCUs with limited peripherals.
In our case some pins are reserved for internal SPI flash, or connected to usb-to-serial and using them for other purpose as serial port could cause problems, some pins doesn't support internal-pullup

[2020-04-30 16:48] rspaargaren commented on #14
@ceaswaran I think I know why compiling is not working and it requires some change in code from my side. The solution as far as I know now is to clean up your compiling directory.

[2020-04-30 16:58] ahpohl commented on #552
@PrzemoPOL I know it seems redundant to create a new component for this sensor type while just one magic byte needs changing, but from a user perspective it seems rather unusual to specify the `xiaomi_lywsd03mmc` platform if all I have is a CGD1 alarm clock.

I created a new branch `ahpohl/esphome:xiaomi_cgd1` with a new component `xiaomi_cgd1` for testing. Please checkout the new branch and let m

[2020-04-30 17:26] Beltshassar commented on #14
Are you using any libraries? I came across these in another esp/max project.

https://github.com/MajicDesigns/MD_Parola
https://github.com/MajicDesigns/MD_MAX72XX

Maybe you can use some of it, at least there's some inspiration 😉

[2020-04-30 17:31] cvanaalst commented on #14
these all work:

         lambda: |-
           it.print("HELLO");

         lambda: |-
           it.strftime("%H:%M", id(hatime).now());

         lambda: |-
           it.printf("%.0f", id(wifi_sig).state);

but font is just to big to use it as a clock eg '19:23'; last char '3'
is not displayed ...

other option I tried is the pages, but that does not seem to work -
would be nice to alternate m

[2020-04-30 17:35] ceaswaran commented on #14
i deletd all & re created it works thanks

[2020-04-30 18:19] RoadkillUK commented on #14
@rspaargaren

I agree, I think you should use a more native library.  Let me know if you need any testing done.

[2020-04-30 18:20] ceaswaran commented on #14
**Yes For time font size is too big to accommodate we need to have small font**

[2020-04-30 18:31] rspaargaren commented on #14
@RoadkillUK @ceaswaran i have used other libraries as inspiration. I think I will “finalize” this library first. By enabling scrolling and a (blinking) dot or double dot. That will not be to hard to do. Then I will push this to the source and work on the extended version. That will require a different approach and indeed I have already reviewed the library as mentioned and I will not reinvent the

[2020-04-30 18:59] Beltshassar commented on #14
Sounds like a solid plan

[2020-04-30 19:16] cvanaalst commented on #14
For info this is what I tested; simple alternating Time & Wifi signal ...

We need a font that is 6wide (5 dots for char & 1 dot blank), this is
what is mostly used, where did you get/created the max7219font.h file ?
Can I help in creating a 6dot wide version ?

esphome:
   name: max7219
   platform: ESP8266
   board: nodemcuv2

wifi:
   ssid: "xxxxxx"
   password: "xxxxxxxxxx"

# Enable logging
l

[2020-04-30 21:14] arvind-balaji opened #712 "Expose FastLED power management feature"
**Describe the problem you have/What new integration you would like**

Allow setting a power limit when configuring a FastLED light

**Please describe your use case for this integration and alternatives you've tried:**

It would be nice to be able to always have the led's at max brightness without overloading the power supply.

**Additional context**

As far as I can tell, `color_correct` is not a

[2020-04-30 22:34] bperkins011 commented on #242
I'd also like a ping.  Vacation home has a network with HA, etc.  Between the cable modem, the Unifigateway, the switch, Home Assistant, etc.  Something always dies and there is no network.
If there was a ping that I could put in an IP address (8.8.8.8) and it came back - great.  Otherwise I have it toggle the smartplug outlet - wait 15 minutes for it all to come back up and check again.
A router

[2020-04-30 23:31] danps1 commented on #709
Awesome - that was exactly what was wrong - I need to RTFM! - thanks @brandond
Unfortunately a different problem popped up with the authentication.
It seems like the http_server component actually only supports Digest authentication, not Basic, as is mentioned in the documentation at https://next.esphome.io/components/web_server.html#configuration-variables
I have checked this using [Postman](http

[2020-04-30 23:49] Monacoslo opened #713 "Change climate temperature via web_server"
**Describe the problem you have/What new integration you would like**

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-04-30 23:50] Monacoslo opened #714 "Change climate temperature via web_server."
**Describe the problem you have/What new integration you would like**

Possibility to change climate temperature via web_server.

**Please describe your use case for this integration and alternatives you've tried:**

When ESP32 is not in the range of my home wifi, I would need to have the possibility to connect directly to it (can be done via fallback hotspot) and change the climate settings via i

[2020-04-30 23:50] #713 closed

[2020-05-01 07:15] PrzemoPOL commented on #552
@ahpohl
I compiled this version yesterday. 4 sensors : xiaomi_lywsd02, 2x xiaomi_lywsd03mm and xiaomi_cgd1
ESP32 not in an optimal position, average signals RSSI=-77 .. RSSI=-87.

13h uptime without reboots. All readings ok. The data interval is rarer than lywsd02, but the sensors are also a few meters away. For me works great.

[2020-05-01 08:34] ahpohl commented on #552
I pushed support for the CGD1 Qingping alarm clock to [ahpohl/esphome:dev](https://github.com/ahpohl/esphome) and updated the documentation in [ahpohl/esphome:docs](https://github.com/ahpohl/esphome-docs). The pull requests [esphome/esphome#1027](https://github.com/esphome/esphome/pull/1027) and [esphome/esphome-docs#548](https://github.com/esphome/esphome-docs/pull/548) were edited accordingly.

[2020-05-01 13:37] pplucky commented on #552
Would it be feasible to also add [this](https://www.gearbest.com/home-smart-improvements/pp_3001071306331967.html) device to esphome, considering the information already gathered [here](https://github.com/custom-components/sensor.mitemp_bt/issues/70)? I can also do testing along with LYWSD03MMC and LYWSDCGQ

It currently seems to BLE broadcast ON/OFF status, battery level and tablet remaining %.

[2020-05-01 14:02] RoadkillUK commented on #14
@rspaargaren, anything to test? ;)

[2020-05-01 15:10] ahpohl commented on #552
@pplucky I can certainly give it a try, but I will do so in a separate branch `ahpohl/esphome:xiaomi_wx08zm`.

As this device is not a temperature/humiditiy sensor like LYWSD03MMC and the payload is not encrypted, I would like to keep the development separate from the current `ahpohl/esphome:dev` branch and the associated pull request against `esphome/esphome:dev`. This issue is originally just fo

[2020-05-01 15:21] osos commented on #688
I support the thought of adding a generic serial interface for the Sonoff ZBBridge, that would have EspHome enable the Sonoff bridge for not only ZHA, but for all the Zigbee projects.

I suggest the request renamed in accordance hereto, eg.

[2020-05-01 17:10] thieaux opened #715 "on the go, dynamically control, countdown timer.."
**Describe the problem you have/What new integration you would like**

Local countdown timer/ stopwatch, dynamically control by encoder and display on 7-segment display.
**Please describe your use case for this integration and alternatives you've tried:**

Any application that requires stopwatch functions or alarms, I.e. Cooking timer that can be set locally and would display time remaining or pas

[2020-05-01 18:42] rspaargaren commented on #14
@RoadkillUK hope to show you tomorrow something now I have to solve a crashed pi first

[2020-05-01 18:56] RoadkillUK commented on #14
I can't wait :)

[2020-05-01 19:20] ahpohl commented on #552
@pplucky I added support for the Xiaomi Mijia Mosquito Repellent Smart Version (Model WX08ZM) in branch [ahpohl/esphome:xiaomi_wx08zm](https://github.com/ahpohl/esphome/tree/xiaomi_wx08zm). Please let me know if it works for you. If you experience issues, please enable `VERY_VERBOSE` logging and report the debug log here (or a link to a file somewhere else). As I do not have such a sensor, I reall

[2020-05-01 22:47] pplucky opened #716 "Support WX08ZM Xiaomi Mijia Mosquito Repellent Smart Version"
**Describe the problem you have/What new integration you would like**

Add support for the Xiaomi Mijia Mosquito Repellent Smart Version (Model WX08ZM)

**Please describe your use case for this integration and alternatives you've tried:**

Knowing the battery left, tablet remaining and working status would allow not to use Xiaomi Mi Home while being nearby.
Having it running in an ESP32 with BT wo

[2020-05-01 22:55] pplucky commented on #552
[Here](https://github.com/esphome/feature-requests/issues/716) it is.

It seems to be working fine:
<img width="236" alt="image" src="https://user-images.githubusercontent.com/16407309/80846917-c1100880-8c05-11ea-9be6-7c9316ac9767.png">

[2020-05-02 06:35] ahpohl commented on #552
@pplucky Did you receive a state "1" at some point? Internally the state is a `float` variable where it should be just a `bool`. Later the float is output as a number with 0 decimal places.

Please note I renamed the component (and the platform in the config file!) and the branch to be consistent with the other sensor types (see comment above). It's now called [ahpohl/esphome:xiaomi_mjmrv1](https:

[2020-05-02 06:40] ryrzy commented on #552
@ahpohl
it looks that MJ_HT_V1 is this device:
https://next.esphome.io/components/sensor/xiaomi_lywsdcgq.html

https://unop.uk/xiaomi-mijia-bluetooth-temperature-and-humidity-monitor-review/
https://community.home-assistant.io/t/xiaomi-mijia-bluetooth-temperature-humidity-sensor-compatibility/43568

[2020-05-02 06:47] ahpohl commented on #552
@ryrzy Hmm... So we have a naming inconsistency.

Some components are named after the bluetooth advertisement, and some are named after the model code. This is exactly what I wanted to avoid by renaming WX08ZM to MJ_MR_V1. When people like me scroll through log files, they will only see the bluetooth name and not the model code, so I think this is the better way. Of course I'll leave the name of t

[2020-05-02 07:04] ahpohl commented on #552
Well it seems I was wrong, the names of the components are really the model code. For example, the MiFlora (HHCCJCY01) advertises itself as "Flower care", the LYWSDCGQ as "MJ_HT_V1" and the Mosquitto repellant (WX08ZM) as "MJ_MR_V1". It just happens that for the LYWSD03MM the Bluetooth advertisement and the model code are identical. So I'll revert the last renaming step to be consistent with the o

[2020-05-02 07:31] ahpohl commented on #552
@pplucky back to the original branch, but with improved magic byte checking. You could do a git pull of [ahpohl/esphome:xiaomi_wx08zm](https://github.com/ahpohl/esphome/tree/xiaomi_wx08zm) and see if it still works.

[2020-05-02 08:14] ahpohl commented on #552
I updated the documentation for the WX08ZM in [ahpohl/eshpome-docs:xiaomi_wx08zm](https://github.com/ahpohl/esphome-docs/tree/xiaomi_wx08zm). As more and more Xiaomi devices are added to ESPHome, I feel that the current layout of the documentation is not ideal as it repeats a lot of text for each sensor (setting up MAC address, configuration steps etc.). It would be much nicer to have one page for

[2020-05-02 08:24] vevsvevs commented on #552
@ahpohl first of all, thank you for your efforts! May I ask you to take a look into [my PR](https://github.com/esphome/esphome/pull/951) for MUE4094RT support, which I made time ago but it was buried without confirmation. I'm not really good in git/travis/programming at all, but suggested changes used work just fine for me. Maybe you will consider to include it to your dev repo?

[2020-05-02 09:52] ahpohl commented on #552
@vevsvevs Well, its certainly a device worth adding to ESPHome, but its not a Xiaomi BLE device. Maybe this PR should be kept separate from the current proposed changes to the xiaomi_ble implementation as it seems unrelated.

To make support for Xiaomi BLE devices complete in ESPHome, support for these devices are still missing:
- GCLS002 (VegTrug Grow Care Garden, similar to MiFlora HHCCJCY01)
-

[2020-05-02 10:02] vevsvevs commented on #552
Thank you :) Tomorrow I'll try to dump and analyze ADVs for new Xiaomi smart Nightlight, look like it's a best nightlight solution for now (much better than Philips).

[2020-05-02 12:20] pplucky commented on #552
Yes I did, I will make sure to show it in the next test. I compared the values of battery and tablet with the ones provided in Xiaomi Mi Home.

State was also checked, to be according to working status. It's not immediately updated (as expected), but it is sooner or later after turning device on/off.

Will test it later tonight for sure and will provide feedback. Will also provide testing along wi

[2020-05-02 12:24] pplucky commented on #552
Xiaomi scales are also missing, although there is already a [pull request](https://github.com/esphome/esphome/pull/691) for it, which had not been merged for a long time.

I also [have one of these scales](https://github.com/esphome/esphome/pull/691#issuecomment-544719669) and it seems to work properly with this pull request.

Still then, from what I've looked at the code, it looks much less polis

[2020-05-02 12:31] wwebers commented on #35
Any progress in this? According to Espressif at least EAP-TLS should work, which is awesome to get a secured home automation environment. Is anyone working on this already? Even though Otto's argument of the added cost is valid, the added security shouldn't be ignored IMHO.

[2020-05-02 13:28] ahpohl commented on #552
@pplucky A scale is interesting! You could record your weight over time (although maybe I don't really want to :-) I'll put it on the todo list. Do you have packet dumps of these devices?

[2020-05-02 13:33] pplucky commented on #552
Not really, I have only tried to install [this branch](https://github.com/dmkif/esphome/tree/miscale) and it seemed to work.

If you can help me obtain these packet dumps, I'm more than willing to do it.

[2020-05-02 13:36] ahpohl commented on #552
@pplucky A VERY_VERBOSE debug log of the ble tracker will be enough. This is just to verify the code in the PR. All information I need should be already in there.

[2020-05-02 14:03] pplucky commented on #552
OK, will do.

[2020-05-02 14:37] ahpohl commented on #552
@pplucky The scale packet parsing is definitely not straightforward as there seems to be two versions of the device and both of them broadcast different packets. The weight and impedance calculations (why impedance ???) are weird. The service data doesn't seem to begin with the usual 0x95 0xFE Xiaomi BLE bytes, but have 0x1D 0x18 instead according to the PR. This is also weird as it doesn't look l

[2020-05-02 14:46] pplucky commented on #552
Yep, v1 and v2 I think

I think v1 doesn't read impedance, while v2 does.
Impedance can be used to calculate a lot of parameters (along with age, height and weight).

You can check this example, where the custom component already sends the calculated parameters: https://github.com/lolouk44/xiaomi_mi_scale

It is definitely genuine, as I've seen it selling in official Xiaomi stores and shows up [he

[2020-05-02 15:38] mirkokrajco commented on #201
rspaargaren thank  you.
It is good job.

[2020-05-02 16:29] ahpohl commented on #552
This by far more complicated than our simple temp/humidity sensors (the HA config file has lots of paramters!). To be useful and fully supported in ESPHome will need some more effort than the current PR has implemented. As there is already support for it in HA, I'll postpone this one for later and focus on the remaining temp sensors and the night light with motion detection to finish off the curre

[2020-05-02 17:58] rspaargaren commented on #201
Thanks I will create the related pull request and update docs soon so it will be integrated in the dev env.

[2020-05-02 18:00] rspaargaren commented on #14
@RoadkillUK It is a baby step but got the scrolling text upgrade. Please remind it is work in progress so related commands mights change in future!
See readme in release for scroll command.

[2020-05-02 18:39] RoadkillUK commented on #14
@rspaargaren Looking good, just scrolling text atm, not possible to put in ``` strftime ``` or ``` printf ``` type things?

Cheers.

[2020-05-02 19:23] rspaargaren commented on #14
Hi formaten text should be possible now. See readme working now on the dots and : but that will be static add first

[2020-05-02 21:35] rspaargaren commented on #14
Ok I have added the : as special character. So now you can use it as
print ("00:00");
But some work in progress......

[2020-05-02 22:01] RoadkillUK commented on #14
Super, I'll check it in the morning, I'm a little too in drink atm :)

[2020-05-03 00:12] pplucky commented on #552
Honestly speaking, I'd say that esphome xiaomi component should stick to read and not to calculated values (which is the aim for the PR)! Agree with you on focusing on what's already in.

[2020-05-03 00:30] Joshfindit commented on #552
Could we respectfully move conversations about other devices to their own tickets?

[2020-05-03 09:01] ahpohl commented on #552
I added support for the other missing sensors already supported by HA [mitemp_bt](https://github.com/custom-components/sensor.mitemp_bt) and two extra ones. The code which supports all devices can be pulled from [ahpohl/esphome:xiaomi_complete](https://github.com/ahpohl/esphome/tree/xiaomi_complete) until it has been proven to work for everybody and ready to be merged with [esphome/esphome:dev](ht

[2020-05-03 09:21] Magalex2x14 commented on #552
In outline. There is a bit of the sign of the presence of an IO capability byte (if I remember correctly, it can be the presence of a display, keyboard, NFC - it is important for the pairing process), there are also two “bondability info” bits that determine the order of choosing a device for the bonding procedure if there are several devices in the reception area.

[2020-05-03 10:26] ppanagiotis commented on #552
Any hope for support this too ?
https://github.com/esphome/feature-requests/issues/517
Thank you

[2020-05-03 10:57] MarcoFranchi opened #717 "Native support for buzzer"
**Describe the problem you have/What new integration you would like**
using PWR to manage Buzzer in not easy, new output component for passive Buzzer it could be a good idea

**Please describe your use case for this integration and alternatives you've tried:**
Support for passive buzzer with parameters like Duration, Tone and Volume
or better like this : https://www.letscontrolit.com/wiki/index.ph

[2020-05-03 11:26] ahpohl commented on #552
@ppanagiotis Supporting just the temperature reading should be straightforward with `xiaomi_ble` if it sends the data just as the other devices do. If you could send me a `VERY_VERBOSE` debug log of `esp32_ble_tracker` or a link to it if has already been published somewhere I'll take a look. But I cannot guarantee it will fit within the current patch.

[2020-05-03 13:12] ahpohl commented on #551
@vevsvevs I incorporated your [PR#951](https://github.com/esphome/esphome/pull/951) as best as I could into my current patch [ahpohl/esphome:xiaomi_complete](https://github.com/ahpohl/esphome/tree/xiaomi_complete).

For my understanding, the nightlight sends a motion detected signal once activated by a person walking by. Every so often the status is broadcasted via BLE. The motion detected state i

[2020-05-03 14:04] ahpohl commented on #551
I forgot to rename `sensor.py` to `binary_sensor.py`. The component compiles now but I cannot test it as I do not have such a device.

[2020-05-03 14:14] ahpohl commented on #716
@pplucky Thanks for opening a separate feature request for the WX08ZM. The state property really calls for a binary sensor to publish the on/off state properly. I need a good example how to publish some float values like battery and mosquito tablet alongside with the state. I think binary sensor has also support for float values, but I'll have to read up on this.  Meanwhile you can test the code a

[2020-05-03 16:12] iBobik commented on #705
I miss examples how to extend structures from included files.

E.g. how to do this Python code in esphome's YAML:
[code]

[2020-05-03 16:25] randybb commented on #717
Something like this https://github.com/esphome/esphome/pull/817. And yes, it is not documented :D

[2020-05-03 20:40] rspaargaren commented on #14
I am now working on a complete rewrite. At the start no blink or scroll but full flexibility on layout of screen as per ESPHOME display model. So stay tuned.

[2020-05-03 20:46] RoadkillUK commented on #14
I've been messing with your code, but I'm getting nowhere as I don't know C++ :)

By the looks of it though, you were writing code that the parola drivers can do already.  I'd like to use the Parola library, but like I say ... I don't know what I'm doing :(

Still I'll try again.

[2020-05-03 20:52] l9i opened #718 "IPv6 support"
**Describe the problem you have/What new integration you would like**
ESPHome should be usable (== addressable) on an IPv6-only network.

**Please describe your use case for this integration and alternatives you've tried:**
My HomeAssistant instance used to live on an IPv6-only network until it needed to communicate with an ESPHome node.

**Additional context**
Based on my cursory look, ESP-IDF su

[2020-05-03 21:25] pplucky commented on #716
Yep, that's true. Let me know if you need any testing there.

Looking good:
<img width="234" alt="image" src="https://user-images.githubusercontent.com/16407309/80926051-8b495c00-8d8c-11ea-8838-b52bacba10c2.png">
1 LYWSD03MMC,2 WX08ZM and 1 LYWSDCGQ

[2020-05-04 02:29] rradar commented on #710
The documentation even features a picture of your board @TessyPowder

![image](https://user-images.githubusercontent.com/34582688/80932412-3111c080-8db7-11ea-93f0-ec3425c5c563.png)

https://esphome.io/devices/nodemcu_esp32.html

[2020-05-04 02:31] rradar commented on #680
https://github.com/esphome/esphome/pull/1025 is **merged**

:lock:

[2020-05-04 05:02] #436 closed

[2020-05-04 05:26] rspaargaren commented on #14
Hi I did a bit of research on the current coding for the displays within esphome and it is very good. I was hardly using it in the current max code. The idea of the display code within esphome is also writing pixel for pixel in a buffer and then display the buffer on the screen. The max is basically a blownup led display... Animation are not embedded in display code so there we can use part of the

[2020-05-04 06:18] TessyPowder commented on #710
I think a dht Sensor is the second thing  many beginners try after a blinking Led. And because It is a Sensor you might think a Input Pin is enough. I know software can't deal with every edge case user error, but a warning about input pins seams possible.

[2020-05-04 07:37] Hedda commented on #688
I believe what socat and ser2net as a client-server model is missing to make it much more user-friendly which would be very nice if could be added to an ESPHome implementation is some kind of features/functions for automatic-discovery and Zero-configuration networking (zeroconf) that would allow projects like Home Assistant's ZHA to discover Sonoff ZBBridge with ESPHome Zigbee bridge adapter on th

[2020-05-04 08:26] WarmChocolateCake opened #719 "Check that a manually default Default Gateway is on the same subnet as the IP address"
**Describe the problem you have/What new integration you would like**
Is it possible to verify that the default gateway is in the same subnet as the manual static_ip

**Please describe your use case for this integration and alternatives you've tried:**

I am segmenting my home network to put "IoT" devices on their own SSID - which means a different subnet and needs a default gateway.

Unfortunatel

[2020-05-04 09:26] randybb commented on #719
I thought that IoT is mainly about auto-configuration, so any static network configuration is only for people that like make their life harder for unknown reason. Btw, fallback AP for IoT is not a good idea - if your WiFi will be down, for example during software upgrade, you will lost all nodes. They will not join back to your WiFi automatically, thus it should not be used in production.

Next pe

[2020-05-04 13:41] WarmChocolateCake commented on #719
Well, I come from a background of industrial control and "automatic" is a bad word :)

(OT, but if I could totally disable Bonjour / Avahi / whatever else it's called - I would... or at least reconfigure it to not use ".local")

Also, consider some other ESP devices (not ESPHome specific) that have to wake up, find the wifi, use DHCP, then use DNS, possibly even deal with internet (S)NTP and _then

[2020-05-04 14:36] ahpohl commented on #716
Great its still working! Yesterday I worked on the documentation and updated the pull requests. Its nearly finished.

[2020-05-04 14:46] randybb commented on #719
I am network engineer...it is just my experience that users are ******, many of them mess up with network settings and then complain that something is not working :)

You can avoid NTP and MQTT with enabling HA API as this is the main purpose of ESPHome.

Didn't know that fallback AP scans neighbor SSIDs and will reconnect back. Good to know...

But back to the "issue": It should be easy to implem

[2020-05-04 14:57] WarmChocolateCake commented on #719
I hear that... I'm also doing a lot of networking... we also do not use autoneg speed & duplex or audo MDIX, which will probably amaze you ;)

OK, I am not experienced in python, but I have been looking at various programming languages for long enough, so I'll take a look at those links and see if I can break something - at least enough to help with my request :)
Thanks

[2020-05-04 15:00] theone11 commented on #437
Waiting for something like this too.

I have many devices that use the "common.yaml" file but also need specific text_sensor/binary_sensor/sensor and can't include it in the specific yaml file becuase exist in the common yaml file.

[2020-05-04 17:02] iBobik commented on #705
Here are some hints on how it could be possible to use anchors and aliases with include (not tested with esphome): https://stackoverflow.com/questions/44910886/pyyaml-include-file-and-yaml-aliases-anchors-references

[2020-05-04 18:46] rspaargaren commented on #14
![B6352FBE-F2C2-4BB5-895A-89E026444E11](https://user-images.githubusercontent.com/10338724/81001535-2c491d00-8e48-11ea-86f2-2b0bb60eacb0.jpeg)

Ok a bit of cleanup in the code and have a look at the font files but nearly there on displaying the content

[2020-05-04 19:42] RoadkillUK commented on #14
It's looking good, however don't limit it to just the 4 chips, I use 8 for example so I can get '20:42 Mo' to fit.

I've been messing with some code, but I can't even get a bit of lamda to work !!

[2020-05-04 19:51] rspaargaren commented on #14
The Output of my photograph was based on the following code:
[code]
So if you want you can put 10 in a row. Just adjust the number of chips. But I want to give a parameter how they are stacked. As you can also place them on top of each other.

[2020-05-04 20:04] ahpohl commented on #552
The PR request [esphome/esphome#1027](https://github.com/esphome/esphome/pull/1027) has been resubmitted and the new Xiaomi BLE documentation can be previewed at https://deploy-preview-576--esphome.netlify.app/.

For me the LYWSD03MMC sensors work well since a couple of weeks. Please keep on testing the code [ahpohl/esphome:dev](https://github.com/ahpohl/esphome) with other sensors and let me know

[2020-05-04 20:41] heinowalther opened #720 "Adafruit STEMMA / Seesaw i2c Capacitive Soil Sensor support?"
**Describe the problem you have/What new integration you would like**

I would like to have support for the Adafruit Soil Sensor which is not like the analog sensor because it uses i2c.
It presents Temperature and a values for the Capacitive sensor.

**Please describe your use case for this integration and alternatives you've tried:**

I of cause tried to hook it up to an D1 mini, but I can only h

[2020-05-04 21:43] Magalex2x14 commented on #716
HA has a separate sensor entity class for this. All I had to do was to convert the state of the sensor to a Boolean type. The device_class for this entity I select from the dictionary, based on the type of device. However, in the case of my custom component, there is one thin point related to the delay in changing the state of an entity in HA due to the periodic nature of the work of my platform (

[2020-05-04 22:02] jshridha commented on #397
@danps1 I just put together a project that can accomplish this, but it's written in python and works great on a raspberry pi. Check it out here:
https://github.com/jshridha/inkbird

It's still extremely beta since I just started on it a few days ago, but you may find it useful.

[2020-05-05 05:23] PrzemoPOL commented on #552
@ahpohl
ahpohl/esphome:xiaomi_complete compiled yesterday. Config as before - 18h online and stable

[2020-05-05 08:11] rspaargaren commented on #14
Further update:
[code]
offset = number of extra "virtual chips to be displayed with scroll"
it.scroll_left(X): Move the content of display every update X steps to the left and add to end of the buffer to create a continuous loop.

[2020-05-05 08:49] rspaargaren commented on #14
Further update:
[code]
Wipes a line of text in the display. Can be used to blink!

[2020-05-05 09:15] Hedda commented on #688
FYI, as per related request https://github.com/zigpy/zigpy/issues/405 I just learned that there is an existing ESP8266-based networked-attached Zigbee-adapter called "ZiGate Pack WiFi adapter" which has a new v2.0 firmware that archives this requested function of UART-to-TCP/IP (for Serial-port to WiFi-bridge function) using "ESP-LINK from Jeelab" software, in addition, using ESP-LINK also adds mD

[2020-05-05 09:29] ceaswaran commented on #14
how do I test this scrolling feature?
Just add offset parameter in yaml or I need to pull the cpp & other files from repo to my custom components again?

[2020-05-05 09:45] rspaargaren commented on #14
Hi you need to pull the latest version of my code.
ADD an offset parameter for extra spaces out of screen range. If required
And add it.scroll_left(); to lambda.
That is it...

[2020-05-05 09:47] ceaswaran commented on #14
ok ill try
i assume the latest files are from this link
https://github.com/rspaargaren/esphome/tree/NextionUpdate/esphome/components/max7219digit

[2020-05-05 09:50] rspaargaren commented on #14
Yes I have push the latest code about an hour ago.

[2020-05-05 12:46] nicr4wks opened #721 "White support on google assistant via hass with RGBW"
**Describe the problem you have/What new integration you would like**
I'm not sure if this lands on esphome or if it is a home-assistant question (hass not presenting the correct options to google?)

When using RGBW lights, asking google to set the lights to white turns on all of the RGB bulbs. I can't find a way to trigger the white only LED. I would have thought asking google to set the lights t

[2020-05-05 13:10] Will711990 commented on #14
Hi everybody !!
You're work is really incredible to simplified the use of this component !!

I saw above that some guys could use "it.print", but it tells me "no matching function" !
How could I print a text ?

When I watch in file.h, I see a "printdigitf" or "printdigit" function, but the result is a blinking text... does it normal ?

thank you !!

[2020-05-05 14:06] rspaargaren commented on #14
Hi the code (was) work in progress... so the print function as it was is not there anymore. You can use printdigit. But you can also use the full functionality of displaybuffer as per esphome documentation.

[2020-05-05 14:06] rspaargaren commented on #14
I am now working on the documentation part. Btw the code should not blink.

[2020-05-05 14:48] corvis commented on #437
Hey guys,

I would propose the following:

1. Implement `packages:` in the way similar to what HomeAssitant have. Definition in config should prevail over definition in package so lists and dicts should be merged in the way when definition in config file overrides definition in package.

2. Disable feature. It would be also good to have a way to disable some component definition in compile time vi

[2020-05-05 14:55] Will711990 commented on #14
Thank you for your answer !

The code `It.print(0,0,font,”hello”);` is working like charm !!

`it.printdigit(“hello”)` is blinking with or without `it.invert_on_off(true);`

[2020-05-05 15:17] RoadkillUK commented on #14
@rspaargaren

Great work so far, but have you tried formatted text?  It's not working quite right for me.
I have this line, and it prints 4 dots too high, as in bottom 4 dots blanks.

[code]

[2020-05-05 15:42] bademux commented on #708
actually I'm interested in modbus slave RTU too

[2020-05-05 15:51] Will711990 commented on #14
Thanx for your answer !

To print a value of sensor:
`it.printf(0, 0, id(digit_font), "Cost %.2f", id(cost_now).state);`
To print a value of text_sensor:
`it.printf(0, 0, id(digit_font), "%s", id(alarm_hour).state.c_str());`

[2020-05-05 16:00] rspaargaren commented on #14
Hi, you just have found a " bug" in the display buffer... Not my part of code :-) the printf is has a different text allign on the center...

it.printf(0, 0, id(digit_font),TextAlign::TOP_LEFT, "Cost %.2f", 10.5);
This should do the trick. Tested it on my max7219 and first had same issue. You could also use
 it.printf(0, 4, id(digit_font), "Cost %.2f", id(cost_now).state);

[2020-05-05 16:02] rspaargaren commented on #14
Hi that should do the trick but please mind that printf has a small "bug" in the esp code. So you need to compensate the offset or add the correct alignment.

[2020-05-05 19:52] RoadkillUK commented on #14
It's looking good but I've been playing about and it seems that you only tested the ``` it.print ``` with 'hello' :)

This is from my config and it prints/scrolls "This iThis iThis i", also it seems to randomly reset/reboot.

[code]

[2020-05-05 20:50] rspaargaren commented on #14
@RoadkillUK

display:
  - platform: max7219digit
    cs_pin: D2
    num_chips: 4
    offset: 0
    intensity: 15
    lambda: |-
      it.print(0, 0, id(digit_font), "This is a test");
      it.scroll_left(3);
      it.invert_on_off(0);

I have to look into the compile error... but one thing is to see the full string you have to add an offset value. So you can try with offset 5 to buffer the full s

[2020-05-05 21:07] RoadkillUK commented on #14
That's gonna make formatted text a little tricky to fit if it's text of varying lengths.

[2020-05-06 05:58] rspaargaren commented on #14
You are right about that. I don’t want to allocate unlimited memory. So I think offset has to stay. I think in advance je know roughly how big the data will be.
I think it is not hard to cut off the end of the empty string to adjust it to the actual displayed string. I will keep you posted

[2020-05-06 06:03] rspaargaren commented on #14
Ah ok thanks for testing. I think I have to add a little code I solve the last part.

[2020-05-06 09:38] RoadkillUK commented on #14
Hi @Will711990, Try this in your ESP sketch
[code]
Put this in the Display section, you know where :)
[code]

If you look at the Formatted Text section on this page, it should help too. [ESPHome Display Component](https://www.esphome.io/components/display/index.html#formatted-text)

[2020-05-06 09:47] blademckain opened #722 "Log collector"
**Describe the problem you have/What new integration you would like**
It would be nice if it were possible to somehow collect the logs of all esp devices within your network.
For example, the Dashboard could collect the logs of all the devices configured inside.
So it can be used for debugging

**Please describe your use case for this integration and alternatives you've tried:**
it might be useful

[2020-05-06 10:07] codegrau commented on #14
Hey there, awesome work!!! Thank you so much for your effort.

Just wondering: is it possible to turn off the display to save energy and only activate when needed?

[2020-05-06 11:17] rspaargaren commented on #14
Hi it is already possible but I could create a function for it.

it.send_to_all_(MAX7219_REGISTER_SHUTDOWN, 0); -> all off
it.send_to_all_(MAX7219_REGISTER_SHUTDOWN, 1);-> all on

Or you can just update the screen with nothing. (create an empty page on make this active).

[2020-05-06 13:12] zsiti commented on #552
On May 4th I've done a fresh pull of [ahpohl/esphome:dev](https://github.com/ahpohl/esphome) and using it with my other sensors mentioned earlier (xiaomi_hhccjcy01, xiaomi_lywsdcgq, xiaomi_cgg1, xiaomi_lywsd02 and xiaomi_lywsd03mmc), no issues. Looking forward to the merge to the official ESPHome codebase 😃 Good work of adding all those other devices @ahpohl!

[2020-05-06 13:37] sermayoral commented on #716
I have a question. Can this device be turned on/off using BLE?

[2020-05-06 13:49] pattyland commented on #209
@cohe4ko As you can see #691 is still not merged so you can't use it.
There seems to good progress for Xiaomi BLE devices in #552 so maybe this will help this issue

[2020-05-06 16:04] Magalex2x14 commented on #716
If this can be done from the MiHome application, then it can. The only thing that it is usually done through the BLE connection, which it is not implemented in ESPHome, if I remember correctly (correct me if I am mistaken).

[2020-05-06 20:59] rspaargaren commented on #14
With the latest update you are able to switch display on/off:
[code]
Thats all...

[2020-05-06 21:19] rspaargaren commented on #14
the printdigit command and other digit command should now work without blinks
You can set offset to a "high value" the scroll is now fixed to the actual length of the string

[2020-05-06 23:59] wojtek14a commented on #443
Is there any breakthrough in fixing issues mentioned above?
I'd really love to see the support for SM2135 in the stable version of ESPHome!

[2020-05-07 03:50] estebanz01 commented on #609
Hello! I'm finding this problem too. I cannot specify `az-delivery-devkit-v4` as a board. I'll test with `esp32dev` for a BLE device tracker.

[2020-05-07 08:42] brandond commented on #722
I have used https://github.com/jpmens/mqttwarn for this in the past. You can configure it to subscribe to the esphome mqtt log topics and forward messages to syslog, write to a file, etc.

Note that some crash info can only be collected from the serial port, but it's certainly better than nothing.

[2020-05-07 08:57] zurpia commented on #642
This integration would be awesome! Other identification systems are great but this one could increase the security of our esphome devices.  Thanks for creating this request and thanks to all developers!

[2020-05-07 12:21] UmerFraz commented on #552
Sorry for this dumb/annoying/noob question. is there an easy way to pull this fork through my hassio installation?

[2020-05-07 12:33] Will711990 commented on #14
Hi !!
Thank you for your reactivity and your efficiency !!

I've some a new question for you...
![IMG_4756](https://user-images.githubusercontent.com/25400986/81294692-8841ba80-906f-11ea-9067-a79a34be708b.jpg)

How could I reduce the "space" character ?

Thanks ! :)

[2020-05-07 13:02] glmnet commented on #722
Yeah, I've been thinking about collecting logs better. Collecting over TCP / api does not make much sense when troubleshooting communications.

What would be the easiest for this? I have arduinos and sd cards so I was planning setting up a TTL logger which will be there.
Of course a ESP8266 or ESP32 can do it too.

It'd be nice to put together a guide

[2020-05-07 13:58] estebanz01 commented on #609
It works fine with `esp32dev`, at least for the BLE device tracker proof of concept I built:
[code]

[2020-05-07 14:27] rspaargaren commented on #14
Hi, I have not tried myselft but edited the font file. Please try the font in my folder:
Pixelmix_ss.ttf (Small space of two pixel width)
Let me know the results

[2020-05-07 15:00] codegrau commented on #14
Could you check with `it.printf(0, 0, id(digit_font),TextAlign::TOP_LEFT, "thx" ); it.scroll_left(1);` because it scrolls within 12 pixels and leaves the other pixels untouched.

Additionally - there is a "missing space" problem when scrolling (last char of first string and first char of second string to near). Maybe a "forced" space between the repetitions would be great?

Or am I holding it wron

[2020-05-07 15:17] corvis commented on #437
Hey everyone,

I've implemented packages feature in [my fork](https://github.com/esphome/esphome/compare/dev...corvis:fb-packages). This basically allows configuration as follows:

config.yaml
[code]
test_packages_package1.yaml
[code]
test_packages_package_wifi.yaml
[code]

After config validation it transforms into:
[code]

@OttoWinter If you find it reasonable I'll be happy to update docs and su

[2020-05-07 16:21] rspaargaren commented on #14
Hi I will check, this has most probably to do with the new length of the string as thx is smaller than the screen size. I will fix this and let the minimal scroll length be the actual scrol size so adding the space on the end.

[2020-05-07 16:23] rspaargaren commented on #14
Thanks all, to have this feedback and debugging on the library. So I can push for a sound solution to the DEV environment and make it available for everybody!

[2020-05-07 16:24] theone11 commented on #437
@corvis In your implementation can substitutions also exist in packages?

[2020-05-07 16:33] corvis commented on #437
Yes, @theone11, this basically the key point which allows to split configuration efficiently

[2020-05-07 16:48] ahpohl commented on #552
@UmerFraz No, not yet. Once the the PR has been merged into dev, the support for LYWSD03MMC  (and the other mentioned sensors) will hopefully make it into the next official release of ESPHome.

Meanwhile you can checkout the code as described [here](https://github.com/esphome/feature-requests/issues/552#issuecomment-613628068) and compile/upload the firmware on a normal PC.

[2020-05-07 16:48] RoadkillUK commented on #14
Still having issues with the 'Cost %2.f%%' ... it seems that it always cuts off the last digit and no matter how I set the ``` offset: ``` it doesn't fix it.  I think I know why my ESP reboots, I have the ``` it.scroll_left(**3**); ```, I think it skips the actual number ``` n:71 ``` and continues to 256, then reboots.

As for the 'thx' problem, it does the same with 'thxg' or any 4 digit thing.

[2020-05-07 17:20] Joshfindit commented on #437
@corvis Am I wrong in seeing your suggetsion as meeting every one of the examples on my wishlist, including the one that “may go a little far”?

[2020-05-07 20:10] rspaargaren commented on #14
Editing the line 152 did the trick... So far my test were with step size 1 so it got triggered. With step 3 you run into endless increment with a crash in the end indeed. Should work now.

I have updated the scroll left function to the complete screen size depending on number of chips.

[2020-05-07 20:12] RoadkillUK commented on #14
I'm trying to find out where you get the ``` max_x ``` variable from.

[2020-05-07 20:14] rspaargaren commented on #14
line 84...

[2020-05-07 20:30] RoadkillUK commented on #14
Not sure now the length is worked out. Why the offset, why if I set it too high, it doesn't add any space at the end, but if I set it too low it doesn't print the whole string.

``` max_x ``` is taken from ``` x ``` on line 81 where it's 'imported' from the VOID, but I can't find any reference to that command.  (still learning)

[2020-05-07 20:36] rspaargaren commented on #14
I has evolved the code. So you are right we can also set the buffer size for max size (255) as the string displayed is cut of automatically.

The X is not imported from the void. To write the strings, lines, etc. the various items from the displaybuffer is inherited. So when you call it.line in lambda it actually calls line function of the display buffer. The line function call the draw actual pix

[2020-05-07 20:38] RoadkillUK commented on #14
If you say so ;)

Could you add a bit more of a gap when the text scrolls as there is only 1 line between the end/start, thanks.

[2020-05-07 20:41] rspaargaren commented on #14
Are you referring to the last uploaded code? Because I added a one line gap indeed.

[2020-05-07 20:42] RoadkillUK commented on #14
Yes I am, other than that, it's just about perfect.

[2020-05-07 20:43] rspaargaren commented on #14
I have added an extra line. Please test.

[2020-05-07 20:47] RoadkillUK commented on #14
Superb.

[2020-05-07 21:04] RoadkillUK commented on #14
It won't compile on my ESP32 however :(

[2020-05-07 21:29] corvis commented on #437
@theone11 I think you are correct and all use cases you mentioned in the original request are covered.
Aside note on your example 2 it seems like this is achievable even now with `<<: ` syntax check the example below:

main config
[code]

simple-light-effect.yaml
[code]

[2020-05-07 22:05] CarlosGS opened #723 "Add warning "danger of death" for devices where GND is live."
**Describe the problem you have/What new integration you would like**

I was about to happily use the GPIOs inside my POW R2, and thankfully I checked with a multimeter. The GND pin is directly connected to the live wire.

My suggestion is to add a clear "warning: danger of death" in [the documentation](https://esphome.io/devices/sonoff.html), specially for devices with power measuring chips since

[2020-05-07 22:30] CarlosGS commented on #52
This would be very nice. My use case is a power sensor (node 1) that controls a water heater (node 2). Sending the data directly would allow for the lowest latency & significantly reduce load on Home Assistant.

Has anybody succeeded in using the http_request module for this purpose?

[2020-05-07 22:56] glmnet commented on #723
Usually when you disassembly electronics is like that.
It'd be nice to add a yellow / black warning banner with a link about safety. Feel free to work on it.

[2020-05-07 23:25] gromar88 commented on #457
The energy value in new dev version works great - thank You! I just wonder how I should modify code to get energy value in kWh since it shows in Wh.

[2020-05-08 00:17] rradar opened #724 "VL53L0X long range mode"
**Describe the problem you have/What new integration you would like**
Make the long range mode available in the VL53L0X component.

**Please describe your use case for this integration and alternatives you've tried:**
Right now the default mode is used which only allow readings up to about 1200mm.

**Additional context**
The long range mode is already supported by the [upstream code](https://githu

[2020-05-08 00:25] rradar commented on #717
@randybb if I'm right esphome/esphome#817 was never merged but the stale bot ate it :robot:

[2020-05-08 00:32] rradar commented on #722
I'm doing my logging with the native api so I have them in home assistant. It works only for the dev version right now but my code is something like that:

[code]

![image](https://user-images.githubusercontent.com/34582688/81357498-b654e800-90cb-11ea-90d8-81bf6cbce1f3.png)

Not very beautiful I need to admit but very useful

[2020-05-08 05:21] rspaargaren commented on #14
And I thought I was finished....;-) let me check!

[2020-05-08 10:50] rspaargaren commented on #724
I do not own the sensor but compared the code and did a small edit.
https://github.com/rspaargaren/esphome/tree/VL53-long-range/esphome/components/vl53l0x
If you set the singnal rate limit on 0.1 then you should have long range enabled with the adjusted code.
If this works I can make it a bit more sofisticated.

[2020-05-08 11:06] RoadkillUK commented on #14
Here's a log for your entertainment.

[code]

[2020-05-08 11:14] rradar opened #725 "Status LED pwm/brightness support"
**Describe the problem you have/What new integration you would like**
I like to have a [pwm](https://esphome.io/components/output/esp8266_pwm.html) support for the [status led](https://esphome.io/components/status_led.html) to make it possible to dim it.

**Please describe your use case for this integration and alternatives you've tried:**
The blue onboard led of the wemos d1 mini is very (very) b

[2020-05-08 11:24] rradar commented on #724
@rspaargaren it works!

`[D][vl53l0x:242]: 'ToF Distance' - Got distance 1.361 m`

Thank you for your time and work. If there is anything I can help with like testing or editing the documentation just tell me :wink:

[2020-05-08 11:27] rradar commented on #724
I don't know if this is any of importance but this two 'options' are also missing in esphome if I'm right :yum:
[code]

[2020-05-08 11:45] rspaargaren commented on #14
Thanks quite usefull for debugging. Can you try again, did a small change that should do the trick...

[2020-05-08 13:55] RoadkillUK commented on #14
Cheers, just got back from a walk. It compiles fine. First run it rebooted a LOT, then it just settled down.  Now it's fine. Running this at the moment.

[code]

[2020-05-08 17:24] brandond commented on #723
Almost all of these devices have the dc gnd connected to ac live due to how their power supplies are designed. Tasmota does have a big warning on their page about it:

https://tasmota.github.io/docs/devices/Sonoff-Pow/

[2020-05-08 17:41] glmnet commented on #723
Wow! looking at that PCB with the slot cut the blue cap along the transformer one would inadvertedly think they are isolated properly... it's like a trap!!

[2020-05-08 20:49] rspaargaren commented on #14
Can you share the setup you are running so I can check on my ESP32

[2020-05-08 22:42] randybb commented on #717
@OttoWinter Is alive and I believe he will fix it soon :)

[2020-05-09 00:35] Magalex2x14 commented on #552
I suddenly remembered one problem with the LYWSD03 sensors.
There seems to be a bug in the firmware of the sensors, which looks like some kind of counter falls into the decimal part of humidity. It should be noted that the decimal part is neither on the sensor display nor in the MiHome application. In the code of my component, I discard it.
The essence of the problem with the graphs is [described

[2020-05-09 07:46] ahpohl commented on #552
@Magalex2x14 Thanks for reporting this. Looking at the raw values in my influxdb without the mean and moving average filters I can see what you mean:
[code]
I am going to fix this as you did by discarding the decimal place of the humidity values. It might be a "feature" of the firmware and we don't know the true meaning yet.

[2020-05-09 09:40] RoadkillUK commented on #14
This is my sketch, if that's what you're asking for.

[code]

[2020-05-09 11:34] ahpohl commented on #552
The humidity value of LYWSD03MMC senosrs is now truncated and reported with 0 decimal places. Code uploaded to ahpohl/esphome:dev.

I wonder how many decimal places do the other hygro thermometers report? Is this fix also needed for some other types?
- LYWSDCGQ -> humidity has 1 decimal place (OK)
- LYWSD02 ?
- CGG1 ?
- CGD1 ?
- JQJCY01YM ?

[2020-05-09 11:37] Magalex2x14 commented on #552
I have not had any feedback on similar behaviour with other sensors.

[2020-05-09 11:47] austwhite commented on #481
Just wanted to watch this as I want this option as well :)

[2020-05-09 12:42] rspaargaren commented on #14
Hi, I don't have a problem compiling your code and it runs OK and indicating various n values. BUT I have added the offset statement to the initialization of the display! Without that statement the scroll function will not work. So add for example offset: 20.

[2020-05-09 14:44] RoadkillUK commented on #14
@rspaargaren, Yeah, looks like I just omitted the offset :) Thanks, all good then.

[2020-05-09 17:21] a-x- commented on #515
Sometimes electricity breaks in our location and then restores, but internet connection restoring in a long time after usually, so our ESP modules cannot understand the time for light controlling logic

[2020-05-09 21:46] rspaargaren commented on #724
Hi I have adjust a part of the code. Can you do some testing:
Adding the option LR : True to your YAML config should set it in long range. Removing is back in normal mode or LR : False. Can you check with latest code.
Did not have time to compile so can still contain bug(s):
https://github.com/rspaargaren/esphome/tree/VL53-long-range

[2020-05-09 21:46] rspaargaren commented on #724
This is a maybe first finish your request...

[2020-05-10 00:14] dougle03 commented on #624
Ideally you want to shift the image around rather than simply blanking..

[2020-05-10 08:19] cvanaalst commented on #14
Hi rspaargaren,

had some time again to check your latest version, works great, but when
I am trying to have a long string displayed eg:

       if (id(my_global_int) == 0) {
         it.printf(0, 3, id(digit_font), "      Temp: %.1f °C Humid:
%.1f%% WiFi: %.0f dB Geiger: %s", id(max7219temp).state,
id(max7219humid).state, id(wifi_sig).state,
id(geigercounter).state.c_str());
         it.scroll_le

[2020-05-10 11:01] RoadkillUK commented on #14
I have also come across this limit of 10.

If you open up the file ``` display.py ``` and edit line 17, at the end. Change the 10 to a 255, or wait until @rspaargaren has time.

[2020-05-10 14:12] rspaargaren commented on #14
Hi in the lastest code I have updated the limit to 100.

[2020-05-10 14:22] cvanaalst commented on #14
RoadkillUK,

thx - I changed that, but I've noticed that I cannot use an offset-value
greater than 27 in my code, if I use a higher value my program is
rebooting and will finally hang ... and will no longer respond via OTA
and I have to physically connect it via USB to reprogram ...

Did someone test with a higher value ?

Chris

Op 10/05/2020 om 13:01 schreef RoadkillUK:

--
Chris van Aalst
cva@s

[2020-05-10 15:14] cvanaalst commented on #14
I have copied the latest version
(https://github.com/rspaargaren/esphome/tree/MAX7219NEW/esphome/components/max7219digit)
... and get a link error ...

HARDWARE: ESP8266 80MHz, 80KB RAM, 4MB Flash Dependency Graph |--
<ESPAsyncTCP-esphome> 1.2.2 | |-- <ESP8266WiFi> 1.0 |-- <ESP8266WiFi>
1.0 |-- <ESP8266mDNS> 1.2 | |-- <ESP8266WiFi> 1.0 |-- <SPI> 1.0
Compiling
/data/max7219/.pioenvs/max7219/src/esp

[2020-05-10 15:41] rspaargaren commented on #14
Ok I will do some more debugging. I had to polish the code to fullfill the requirements for the PULL REQUEST within ESP.

[2020-05-10 15:43] rspaargaren commented on #14
Thanks for reporting the BUG. Now that I think about it the 27 is a logic value.
27+4=31 31 chips of 8 positions = 248. One more makes 256 and that is over the max size of the buffer!
So I will limit the buffer to 27!

[2020-05-10 18:09] rspaargaren commented on #14
Hi, I did some changes to the code. Please check it should compile

[2020-05-10 18:33] cvanaalst commented on #14
rspaargaren,

it compiles and code executes correctly !

Op 10/05/2020 om 20:10 schreef rspaargaren:

--
Chris van Aalst
cva@skynet.be

[2020-05-10 18:39] rradar commented on #724
Adding the option LR : True to your YAML config should set it in long range. Removing is back in normal mode or LR : False. Can you check with latest code.

It **fails now** (despite if the yaml contains the `LR:` or not):

[code]

[2020-05-10 18:55] rspaargaren commented on #724
Hi can you test again. did a small change and compiles now...

[2020-05-10 19:23] rradar commented on #724
long_range: True or long_range: False or without = Flase

works exactly as described :1st_place_medal:

[2020-05-10 19:36] rspaargaren commented on #724
That is good to hear. Ok some clean up and I will push it for DEV

[2020-05-11 01:36] vevsvevs commented on #552
It reports only movement events only. No battery level either "no movement" event, timeout is a virtual event, and sends by ESP (not the nightlight itself). Please don't remove this device from your great multi-pr :)

[2020-05-11 04:01] vevsvevs commented on #552
Btw, does new implementation have any frame-count filter? I'm trying to sniff ADVs from new MI smart nightlight (MJYD2S) and it's absolutely awful, it's a flood-machine that repeats the same frame a dozen times without counter increasing.

[2020-05-11 07:06] ryrzy commented on #552
i'm testing 3x LYWSD03MMC with latest changes with humidity and it looks ok :) one question @ahpohl , is it normal that firmware eats 97% memory?

[2020-05-11 10:30] cvanaalst commented on #14
rspaargaren,

I created my own arduino programs & modified existing programs (like
MARQUEE) to display info on the MAX7219 display (esp8266); I am looking
in converting some of these to esphome.

But what I miss is two things:

- speed-control: the native esp8266-MAX7219 scroll is faster & smoother:
it scrolls per one dot - I assume this is not possible with esphome ?

- either longer messages (no

[2020-05-11 10:48] rspaargaren commented on #14
Hi Chris, thanks for your feedback. It is good the hear the library is going to be used.

Related your input:

- speed-control: the native esp8266-MAX7219 scroll is faster & smoother:
it scrolls per one dot - I assume this is not possible with esphome ?

If you set scroll left (X) it should move X dot per update. So if you set X to 1 it moves one dot per update. The update cycle time is standard 5

[2020-05-11 11:40] cvanaalst commented on #14
Verstuurd vanaf mijn iPhone
Update_interval: 75ms & scroll_left(1) works very smoothly !
Top !

[2020-05-11 12:29] cvanaalst commented on #14
Regarding the orientation; I think that we are talking about different matters:
- you talk about how the individual led-matrices boards are combined: 4x1 or 8x1 (2 of 4x1 in a row) or 4x2 (2 stacks of 4)
- what I mean is how the 4 individual Led-matrices are combined on one board:
Eg on a normal board of 4 they installed: left - right | left - right | left - right | left - right
If you scroll left

[2020-05-11 13:04] ahpohl commented on #552
Yes, the packet frame counter is checked and duplicate packets are filtered out.

Yes, the firmware is already quite big with just the absolute necessary components enabled. Fortunately, all Xiaomi sensors use the same base component `xiaomi_ble`, so adding two sensors will have almost the same memory requirements than adding just one.

[2020-05-11 14:15] RoadkillUK commented on #14
Thanks for all the work @rspaargaren, I'm messing with it now.

Also @cvanaalst, changing the timing to 75ms makes the flash er ... FLASH!! ;)

[2020-05-11 15:02] rspaargaren commented on #14
Regarding the orientation; I think that we are talking about different matters: - you talk about how the individual led-matrices boards are combined: 4x1 or 8x1 (2 of 4x1 in a row) or 4x2 (2 stacks of 4) - what I mean is how the 4 individual Led-matrices are combined on one board: Eg on a normal board of 4 they installed: left - right | left - right | left - right | left - right If you scroll left

[2020-05-11 20:38] rspaargaren commented on #14
I have added a new method off scrolling, I have uploaded it in new branch.
https://github.com/rspaargaren/esphome/tree/MAX7219SCROLL
you can now add the line it.left_scroll_new(1) and keep offset on 0
Please test....
The only downside is that there is a reset at the end off the string to start position again...
The old method with offset can still be used. In this method begin and end is linked.

[2020-05-11 20:54] rspaargaren commented on #14
@cvanaalst I have created a branch to test the 90 degrees rotated max7219. Can you check this branch if it works? If so I will create and option setting.
https://github.com/rspaargaren/esphome/tree/max7219scrollandrotate90

[2020-05-11 21:17] DIYGuy01 commented on #624
That won't help as some pixels will overlap.

------------------------
Andrius

2020-05-10, sk, 03:14 dougle03 <notifications@github.com> rašė:

[2020-05-12 01:04] natp13 commented on #592
I was actually about to file this one. I'm working on a change, but it turns out there are a lot of components that write state that I will never be able to actually test. It feels like instead of turning on "save to flash" for everything, restore_mode: restore_from_flash should be an option for each individual component. Typically there would be one component that needs to store its state (like i

[2020-05-12 01:10] hufman opened #726 "BLE Tracker should support loading a list of beacons from MQTT"
**Describe the problem you have/What new integration you would like**

I plan on using ESPHome to set up a BLE tracking system, similar to [this](https://www.reddit.com/r/homeautomation/comments/gcgim4/cross_post_im_tracking_my_cats_location_within_my/). Currently, adding a new beacon to be tracked requires flashing a new firmware (USB or OTA).
Beyond tracking a list of beacons from the config fil

[2020-05-12 03:20] vevsvevs commented on #552
@ahpohl I've collected some ADV-data for the new MI nightlight, it's encrypted, and I have no skills to analyze it :( Should I open a distinct issue here or in your repo, or it may be discussed here?

[2020-05-12 13:39] drcommons commented on #430
@dzkahn I have been looking for examples of people getting the Digoo dg-r8h working with Sonoff RF Bridge but not able to find any.
Are you able to post some links please because from what I have read, it does not yet work?

[2020-05-12 15:36] ahpohl commented on #552
Better to open a separte issue for the new sensor type as this issue is supposed to be only for discussing LYWSD03MMC sensors. I know this thread has been abused by myself and others numerous times to discuss other sensors, but now is the chance to start from scratch :-)

If you have the package dump, I wouldn't mind taking a closer look if you could post a link to the log in new thread. If the se

[2020-05-12 16:25] natp13 commented on #592
It would be nice to unify restore, restore_value, and restore_state and apply to every "stateful" component the following:
    restore_initial_value: (true/false, float value, enum value, template value, etc)
    restore_mode: (ALWAYS_INITIAL_VALUE, DEFAULT_RESTORE, RESTORE_FROM_FLASH)

Names need some more thought, but the idea would be that every component with a state always has a default initi

[2020-05-12 18:11] RoadkillUK commented on #14
Hey @rspaargaren , I've been testing the MAX7219SCROLL fork and I don't think it's working correctly, here is part of my sketch and also a section of log.  Let me know if you need anything else.

[code]
Log:
[code]

[2020-05-12 18:29] dzkahn commented on #430
No the Digoo dg-r8h does not work with Esphome.  It looks like people have gotten it to work using other software.  Such as this guy:
https://1technophile.blogspot.com/2019/04/sonoff-rf-bridge-pilight-or-how-to.html

Someone said that this works
https://github.com/merbanan/rtl_433

[2020-05-12 18:52] rspaargaren commented on #14
Can you describe what you see on the screen?
The string is 75 pixels wide. Offset has to be set to 0! Your screen is 4*8 =32 pixels wide Sonia should scroll left over a distance of 75-32 = 43 pixels I have added a few extra Pixels blank 5 blank before the string is reset  to 0 position. With this method I can not
Make an endless loop but the string can be very long to display. So in this output I

[2020-05-12 18:55] RoadkillUK commented on #14
I was expecting it to scroll round, not start over :)

Also, not compiling on ESP32 ;)

[2020-05-12 19:10] RoadkillUK commented on #14
Now I can't find the version that works well with my ESP32 !!

[2020-05-12 19:29] cvanaalst commented on #14
For me it is working;
- but to simulate it scrolling, I added some spaces (I used 6) to the beginning; if you do that it doesn’t display anything?! (up to 4 paces it still works, with 5 it sometimes works)
- l alternate between time (strftime) & a long string (printf....)
It starts correctly with the time, then it displays the message, but after that the time is no longer displayed, after that mes

[2020-05-12 19:45] cvanaalst commented on #14
rspaargaren,

rotate works: would be nice to have a parameter with the four possible
orientations, in that case we handle whatever Banggood or AliExpress
delivers :)

Op 11/05/2020 om 22:54 schreef rspaargaren:

--
Chris van Aalst
cva@skynet.be

[2020-05-12 19:58] VanGog86 opened #727 "esphome cannot go into deep sleep if it does not see wifi"
**Describe the problem you have/What new integration you would like**

Good afternoon.
I make a Wi-Fi thermometer on a battery, and I ran into a problem, the house turned off the electricity, the thermometer woke up from a deep sleep, could not connect to wifi (since the router was turned off), and without stopping, I tried to find the network without going to sleep. as a result, the battery has r

[2020-05-12 20:18] RoadkillUK commented on #14
@rspaargaren . Could you please make one of these branches compile on an ESP32!!  I managed to delete my working version.

Not the rotated one though ;)

[2020-05-12 21:57] SenexCrenshaw commented on #394
Working on it in PR GH-1057

[2020-05-12 23:55] jaybinks commented on #481
watching

[2020-05-13 07:10] drcommons commented on #430
ok thanks, i'll check out those links

[2020-05-13 09:39] blademckain opened #728 "bang bang climate support multiple preset"
**Describe the problem you have/What new integration you would like**
the climate component of the home assistant allows you to have multiple presets and not just home and away. It would be useful if several presets could be set up in the bang bang controller as well.

**Please describe your use case for this integration and alternatives you've tried:**
in a Heater + Cooler bang bang it would be u

[2020-05-13 12:55] Vxider opened #729 "TM1637 4-Segment Display support"
**Describe the problem you have/What new integration you would like**
TM1637 is a 4 digit 7 segment driver with 2 pin control (data + clock)

**Please describe your use case for this integration and alternatives you've tried:**
I found TM1637 has added in [#20 ](https://github.com/esphome/feature-requests/issues/20), but still cannot found the document on homepage. I have tried to add the followin

[2020-05-13 17:05] spattinson commented on #727
This happens because run_duration does not start counting until mqtt is connected. This is by design whether you agree with it or not, so you have to run your own timer and invoke deep_sleep yourself if wifi or mqtt do not connect. Below is a config I use, I use an automation in home assistant that publishes an MQTT packet to put to sleep as soon as a sensor reading is uploaded, if mqtt connects b

[2020-05-13 18:14] randybb commented on #729
Still only in dev branch https://next.esphome.io/components/display/tm1637.html

[2020-05-13 20:37] rspaargaren opened #730 "Scroll function for MAX7219 7 seg display"
**Describe the problem you have/What new integration you would like**
The text display on the MAX7219 display is now static. More data can be shown when data scrolls (left).

**Please describe your use case for this integration and alternatives you've tried:**
More data can be displayed by scrolling text

**Additional context**
Same work is in progress for max7219 digit display.

[2020-05-13 20:38] rspaargaren commented on #730
https://github.com/rspaargaren/esphome/tree/max7219-seg7-scroll
First try -> to be tested

[2020-05-13 21:10] hkhaka opened #731 "Reconnect WiFi (scan for strongest AP)"
**Describe the problem you have/What new integration you would like**

I would like to have a function that disconnects the WiFi and then performs a new scan and connects to the strongest AP found.

**Please describe your use case for this integration and alternatives you've tried:**

I have an ESP32 that rides along my robot lawnmower and keeps track of some things.
I have 3 APs to be able to cov

[2020-05-13 22:19] randybb commented on #731
But it would not be the cleanest solution. For the proper implementation of roaming we have been waiting for years... https://esp32.com/viewtopic.php?t=3885 / https://github.com/espressif/esp-idf/issues/3671

[2020-05-13 22:55] sedatesoftware commented on #688
Not to take away from this request, however for simpler use cases, this product works directly with Home Assistant.
https://www.itead.cc/cc2531-usb-dongle.html

[2020-05-13 23:01] brandond commented on #731
It'd be nice if the ESP-IDF would support 802.11r (fast roaming) but they do not, as far as I know. Without fast roaming you have to go through the whole disassociate/scan/reassociate process.

[2020-05-14 03:24] vevsvevs opened #732 "Add support for Xiaomi-Yeelight BLE nightlight (MJYD2S)"
**Describe the problem you have/What new integration you would like**
Add support for the new Xiaomi BLE nightlight with day/night motion detection (MJYD2S).

**Please describe your use case for this integration and alternatives you've tried:**
Using this light as a motion sensor could be pretty convenient for bathroom light automation.

**Additional context**
In-shape copy of the MJYD02YL, but eq

[2020-05-14 03:27] vevsvevs commented on #552
@ahpohl thank you for your efforts :) [Here is](https://github.com/esphome/feature-requests/issues/732) the issue for this device.

[2020-05-14 04:08] Vxider commented on #729
Thanks, I'll try this.

[2020-05-14 04:08] #729 closed

[2020-05-14 04:30] hkhaka commented on #731
Agree. Proper roaming would for sure be the best. But as that does not seem to be happening any time soon, this is a "something" (hopefully more feasible) rather than "nothing", in the meantime.
Even with proper, powerful devices and really good roaming implementation, wifi is wifi and connection will be lost or interrupted now and then. And communication IS interrupted while scanning for other AP

[2020-05-14 05:14] rspaargaren commented on #14
Hi what do you want? I am currently compiling it on my esp32cam for testing and it runs fine here. I will shave the scroll a bit more. Just learned more on how to control.

[2020-05-14 05:15] rspaargaren commented on #14
Hi thanks for the feedback. I will look into it!

[2020-05-14 07:01] Hedda commented on #688
@sedatesoftware USB adapters are really off-topic here, so only ESP8266 based Zigbee is relevant here. The point here is that is Sonoff ZBBridge is no1; based on ESP8266, no2; contains a very powerful high-performance Zigbee 3.0 capable module, and no3; is sold in a nice package for a low price.

Yes we know [Home Assistant's ZHA integration component](https://www.home-assistant.io/integrations/zh

[2020-05-14 10:37] RoadkillUK commented on #14
I don't know which one is active or are you working on all the forks?

Not seen any updates on github :)

[2020-05-14 11:36] cvanaalst commented on #14
rspaargaren,

I went back to the first version, the newscroll version, even when I use the old it_left_scroll is behaving strange; sometimes messages are not printed or are cut or restart before it reaches the end ... I cannot find a logic or rule in this behavior - the first version with it known limitations works consistently!

Chris

Verstuurd vanaf mijn iPhone

[2020-05-14 11:38] RoadkillUK commented on #14
Which is the first version?

[2020-05-14 12:07] rspaargaren commented on #14
The version posted here is currently "stable" and pushed for PR with dev.
https://github.com/rspaargaren/esphome/tree/MAX7219NEW

The version with other scrolling, unstable:
https://github.com/rspaargaren/esphome/tree/MAX7219SCROLL

The version with hardcoded rotate of display units:
https://github.com/rspaargaren/esphome/tree/max7219scrollandrotate90
Tested by Chris and upgraded with selection op

[2020-05-14 13:44] ahpohl commented on #732
@vevsvevs I pushed initial support for the MJYD2S nightlight to [ahpohl/esphome:xiaomi_mjyd2s](https://github.com/ahpohl/esphome/tree/xiaomi_mjyd2s). Did you already extract the bindkey?

Here is a config template:
[code]
Decryption of the packets will fail with the wrong bind key. I see two types of data packets from the output above:
[code]
Does the service data contain the usual "95 FE" magic b

[2020-05-14 14:12] RoadkillUK commented on #14
Thanks, sorry for late reply, was busy ...

I have tried compiling with the MAX7219NEW and I get this result.

[code]

[2020-05-14 14:59] grimmsq commented on #29
Hello, I've been struggling with these for some time now, maybe you can help me

**I've created a file called lux.h that I placed in \config\esphome with the following content**

"#include "esphome.h"
#include "Max44009.h"
class max44009 : public PollingComponent, public Sensor {
 public:
  Max44009 light = Max44009(0x4A, 4, 5); //these are the i2c pins being used
// constructor
  max44009() : Pol

[2020-05-14 15:05] rradar commented on #730
tested:

[code]

and works :tada:

[2020-05-14 16:00] rspaargaren commented on #14
The devil is in the details... took me yesterday also about an hours to add one 0 to a code to fix it

[2020-05-14 20:39] rspaargaren commented on #14
@cvanaalst I have added the config option:
rotate90: True -> sets the display to 90 degree rotation. Removing the option or entering False then display is in default mode.

[2020-05-14 23:29] kvn1351 commented on #664
I have tested your config. Does it happen to you too that the tilt action gets activated twice sometimes?

[2020-05-14 23:41] vevsvevs commented on #732
@ahpohl Sure, I got the bindkey but forgot to write it here, sorry. I've updated the issue context (just in case). So, battery status sends just fine! Now I should somehow to investigate which of these three bytes represents which data? I believe it's possible to see a decrypted data payload in the log?

[2020-05-15 00:37] RoadkillUK commented on #14
Testing the scroll and rotate version.

The rotate seems to work, it turns in 90 degrees anyway.

The scroll is a little messed up, this is the log ...
[code]
This is part of the script.
[code]

[2020-05-15 00:37] vevsvevs commented on #732
I've collected some logs. Seems like the main encrypted payload has some structural differences.

Active scan events:
[code]

Motion-on events:
[code]

Motion-off events:
[code]

[2020-05-15 06:01] cvanaalst commented on #14
@rspaargaren,

Great, this helps me for my two  hw orientations, but you might help others by providing the 2 other orientations - there are 4, in the Arduino libs they use 1,2,3 & 4 for the diff orientations; this is the solution that will cover everything!

Thx for your great work!

Chris

Verstuurd vanaf mijn iPhone

[2020-05-15 08:06] rspaargaren commented on #14
Hi can you send me a link to the library where you are referring to. So I can have a look.
Regards,
Richard

[2020-05-15 08:09] rspaargaren commented on #14
The scroll new is undevelopped, and I think with some tweaks I can just optimize the original scroll function and extend the buffer size. So problems solved...

@cvanaalst @RoadkillUK At an other channel I received the feedback not to have a contineous loop but to stop at the end. Pauze a bit and then start over at the beginning? Would that be an option you like (as well)?

[2020-05-15 08:22] cvanaalst commented on #14
Regarding continuous vs temp stop:
I prefer the continuous loop, but I would always add the number digits as spaces at the beginning of the next loop? This prevents that the beginning of second loop is glued to the end of the previous. You can do this by adding the spaces yourself to the message to publish, but in that case you loose valuable characters (max 27).
An other option is to start scroll

[2020-05-15 09:12] minsuke commented on #730
It's great !!
 thx for your effort with awesome codes.

[2020-05-15 09:29] ahpohl commented on #732
@vevsvevs I added the illuminance value and pushed the update. Do you have a second sensor with MAC address 2F:FA:ED:4E:AC:96 configured? I think the 19 bytes long packet originates from a different sensor.

I would need to take a look at the full log. If you have only one sensor with MAC address 50:EC:50:CD:32:02 configured, then these packets should have been rejected before being passed to the

[2020-05-15 09:48] ahpohl commented on #716
@pplucky I updated the WX08ZM to a hybrid `sensor` and `binary_sensor` component. Now the power status in HA looks much nicer (on/off rather than 0/1) and the color of the symbol changes as well. You can pull the updated code from [ahpohl/eshome:xiaomi_wx08zm](https://github.com/ahpohl/esphome/tree/xiaomi_wx08zm) until is has been merged with ahpohl/eshome:dev.

In order to compile, you need to ha

[2020-05-15 13:21] vevsvevs commented on #732
@ahpohl do you use the Telegram?

[2020-05-15 16:02] pplucky commented on #716
Looking good:
<img width="386" alt="image" src="https://user-images.githubusercontent.com/16407309/82071077-7abead00-96cd-11ea-80ad-68f7975e6fda.png">

As expected, the binary sensor doesn't update immediately once device is turned on/off, but it is quite acceptable I think.

[2020-05-15 18:16] ahpohl commented on #732
I've decrypted a couple of 19-byte long packets:
[code]
Packets contain either a "0" or a "78". Could be "motion" or "no motion", depending on the time these packets have been sent.

@vevsvevs Any ideas?

[2020-05-15 22:48] kvn1351 commented on #46
What do you mean with heäs not doing it? Did the idea get dropped?

[2020-05-15 23:06] ski7777 commented on #46
My ideas are just a proposal. I think we should have a full concept first and then start thinking about the implementation. Everything else will cause frustration to the developers who's pull requests get rejected

[2020-05-16 00:25] vevsvevs commented on #732
@ahpohl I may only guess, but maybe these messages contain "seconds since last motion" value? If so, 0 obviously will be sent when motion detected at the first time, 120 - when the sleep-off timer is reached with no motion, and other values - when light being reactivated in some intermediate point (it has an adjustable light-off timer).

If it is possible to implement the live-decryption of these

[2020-05-16 00:41] heathkh opened #733 "Local buffering of periodic sensor measurements during communication outages"
**Describe the problem you have/What new integration you would like**

Currently, when the wifi network or the home assistant server is down, sensor measurements are lost.  I'd like if the ESP device could buffer periodic sensor measurements locally and submit them when it next has the ability to reach the home assistant server.

**Please describe your use case for this integration and alternative

[2020-05-16 03:04] glmnet commented on #46
He’s idle, fr is ok.

[2020-05-16 05:07] ahpohl commented on #732
@vevsvevs I am going to implement live decryption for these packets for you to test.

[2020-05-16 05:30] ahpohl commented on #716
@pplucky Thank you very much for testing the hybrid binary_sensor / sensor code.

I merged the changes with [ahpohl/eshome:dev](https://github.com/ahpohl/esphome) and updated the documentation. The preview is [here](https://deploy-preview-576--esphome.netlify.app/).

[2020-05-16 09:26] cvanaalst commented on #14
@rspaargaren,

this is one library I initially used; here he details the different
hardware-type (which have sometimes different orientations)
https://majicdesigns.github.io/MD_MAX72XX/page_hardware.html

Now I use this one: https://github.com/markruys/arduino-Max72xxPanel

     see:
https://github.com/markruys/arduino-Max72xxPanel/blob/master/Max72xxPanel.h

public:

	/*

	* Create a new controle

[2020-05-16 14:05] dougle03 commented on #733
I'd like this too

[2020-05-16 20:20] rspaargaren commented on #14
@cvanaalst @RoadkillUK Ok I have added the four orientations for each chip to the setup:
https://github.com/rspaargaren/esphome/tree/max7219scrollandrotate90
rotate_chip: 0 (or 1,2,3) can be added to the configuration. Please check it OK then I will push this function to the PR.

[2020-05-17 11:45] RoadkillUK commented on #14
@rspaargaren

Busy atm, I'll take a look soon!

[2020-05-17 12:30] nvvasilev commented on #29
Hello, @grimmsq
I managed to make the sensor work with the following configuration:

In the ESPHome config folder I created the file `ESPHomeMax44009Sensor.h`.
Here is the path to the file: `homeassistant/config/esphome/CustomLibs/ESPHomeMax44009Sensor.h`
My .yaml file is one directory up in: `homeassistant/config/esphome/weatherstation.yaml`.

Here is the contents of the **ESPHomeMax44009Sensor.h

[2020-05-17 13:14] mredone commented on #473
Hello. How can i help add this sensor to esphome?

[2020-05-17 13:40] RoadkillUK commented on #14
@rspaargaren

It all looks good so far, I've tested all 4 rotations and they look fine.
**0**
![IMG_20200517_142913](https://user-images.githubusercontent.com/31829007/82148450-1a09ae80-984c-11ea-93aa-90c1520ca01e.jpg)
**1**
![IMG_20200517_143112](https://user-images.githubusercontent.com/31829007/82148459-1ece6280-984c-11ea-8818-3b563b9017b1.jpg)
**2**
![IMG_20200517_143210](https://user-images.g

[2020-05-17 14:01] commander-chris commented on #720
Hi -

1. Include the adafruit/custom libs:

[code]

2. Code the custom lib CE_SoilSensor.h

[code]

3. Define a custom sensor component

[code]

4. The sensor does not work properly for me, though, because it saturates at 1015 at the slightest touch, see, e.g., https://forums.adafruit.com/viewtopic.php?f=8&t=157971&hilit=stemma+1015
which is why I will try to return them and get a refund.

Good lu

[2020-05-17 14:07] rspaargaren commented on #14
Great! Complete new scroll function coming up tonight for testing!

[2020-05-17 16:43] hiddedb commented on #443
As far as I'm aware, there are no current fixes at this moment :(

[2020-05-17 17:37] ahpohl commented on #732
I renamed the component and added an idle time since last motion:
[code]
![image](https://user-images.githubusercontent.com/30575522/82155508-ad0b0e80-9875-11ea-97c2-21922f962288.png)

[2020-05-17 19:02] Vxider opened #734 "Light effect sync between multiple lights"
**Describe the problem you have/What new integration you would like**
Can I sync the light effect between multiple lights?

**Please describe your use case for this integration and alternatives you've tried:**

I have 12V RGB trip with `RGB Light` components and ws2812B with `FastLED` components. Can I sync the light effect in two different kinds of lights? For example, if I use `Random effect`, t

[2020-05-17 20:30] rspaargaren commented on #14
@RoadkillUK @cvanaalst Hi I have created a new setup of scrolling. Can you test:
https://github.com/rspaargaren/esphome/tree/MAX7219SCROLL
The setup within this scroll is different. The function OFFSET can be removed in the configuration.
Add the following line to the lambda to enable and configure scrolling:
it.scroll(ON/OFF,MODE,SPEED,DELAY,DWELL);
[code]
ON/OFF -> switch scrolling on or off
MOD

[2020-05-17 20:44] sendorm opened #735 "Support for Grove - Water Level Sensor"
**Describe the problem you have/What new integration you would like**

For these capacitive water level sensors to be a supported device in esphome

**Please describe your use case for this integration and alternatives you've tried:**

I would like to use this in a humidifier I have made. Currently I am using a float sensor but more information is merrier.

**Additional context**

These devices us

[2020-05-17 21:10] RoadkillUK commented on #14
I'm not getting any scrolling at all.

[code]

[2020-05-18 04:52] rspaargaren commented on #14
Did you use the latest code? At the moment of posting there was a small bug in it...

[2020-05-18 06:57] RoelVideler commented on #443
Sorry for the late reply, I haven’t managed to get the milliamperes part working. The max brightness is always the same on my bulb, both on the whites and the colors. As the bulb doesn’t support both rgb and white at the same time and esphome really doesn’t seem to support that, I used the idea posted previously to turn it into two bulbs, one CCW and one RGB and that works well, but it’s clunky.

[2020-05-18 08:36] cvanaalst commented on #14
@spaargaren,

it working, but some issues, this is my code:

display:
   - platform: max7219digit
     cs_pin: D8
     num_chips: 4
#    offset: 27
     intensity: 10
#    update_interval: 75ms
     id: my_matrix
     lambda: |-
       if (id(my_global_int) == 0) {
         it.printf(0, 3, id(digit_font), "This a very very long line of
text, just to test where the limit currently is !");
        

[2020-05-18 09:49] RoadkillUK commented on #14
It gets up to 'st whe' and reboots.

[2020-05-18 13:28] RoelVideler commented on #443
This is the ESPHome YAML I'm using:
`sm2135:
  data_pin: GPIO12
  clock_pin: GPIO14

output:
  - platform: sm2135
    id: output_red
    channel: 0
  - platform: sm2135
    id: output_green
    channel: 1
    max_power: 0.46
  - platform: sm2135
    id: output_blue
    channel: 2
    max_power: 0.3
  - platform: sm2135
    id: output_white
    channel: 3
    max_power: 0.8
  - platform: sm2135

[2020-05-18 14:28] hiddedb commented on #443
Hi Roel,

Thank you for your config, I'll give it a shot when I get home and report back!

[2020-05-18 14:38] SenexCrenshaw commented on #1
I added a PR for this. I tried to make it as customizable as possible. You can set the model according to adafruit. Thats for initialization and what nots. You can also change col,row,height,width and 8bit color. This should cover all of us. The 8bit is used because of RAM usage. I couldnt run my 128x160 at 16bit since it need 40Kb of the 80 that I had on my esp12.

[2020-05-18 15:17] caesar1987sk commented on #568
I plan to buy this baby monitor, so it will be nice to have this support :)

[2020-05-18 18:31] DanielWe2 opened #736 "Add current_resistor and voltage_divider configuration to CSE7766 platform"
**Describe the problem you have/What new integration you would like**

The CSE7766 platform should have options to configure the values for current_resistor and voltage_divider.  (Similar to the one for HLW8012)

**Please describe your use case for this integration and alternatives you've tried:**

The current implementation assumes that all devices using the CSE7766 chip use the default values fo

[2020-05-18 19:27] rspaargaren commented on #14
@cvanaalst @RoadkillUK Ok I tested it but not with that long text ;-) There was an integer in the scroll left function running into the max of 255 now it is an int16 so basically the limit is now on 4095 chips... is that enough? Please test again...

[2020-05-19 02:07] fitim7 commented on #552
How are things going with the pull into the official ESPHome?

[2020-05-19 06:24] ceaswaran commented on #14
can I have the latest repo link & tuorial on how to use this component?

[2020-05-19 07:38] rspaargaren commented on #14
can I have the latest repo link & tuorial on how to use this component?
The latest development is:
 https://github.com/rspaargaren/esphome/tree/MAX7219SCROLL
you can use the https://esphome.io/components/display/index.html?highlight=display code to display graphics. And you are able to scroll the content with extra command:
 Add the following line to the lambda to enable and configure scrolling:

[2020-05-19 07:47] cvanaalst commented on #14
@rspaargaren,

I am running it now, and it seems to work; I have a very long message
(with various local & HA sensors included) being displayed in
alternation with the local time for some time now.

Super Job !

Chris

Op 18/05/2020 om 21:28 schreef rspaargaren:

--
Chris van Aalst
cva@skynet.be

[2020-05-19 07:50] marcelveldt commented on #552
@ahpohl very nice work on this. I manually patched my Home Assistant Add-on (hassio) with your changes and it's running perfectly fine. Multiple Xiaomi sensors, including the LYWSD03MMC.
Thanks!

[2020-05-19 08:23] rspaargaren commented on #14
OK then I start to clean up the code and integrate it with the rotate chip part...etc...

Some of development which might be nice:

- Stationairy part of the screen on the left or right side where the text does not scroll? To display an    icon or small clock...?
- Analog clock?
- Animated icon?
- Multiple screens in X and Y direction
- Enable pages?

Let me know what would be nice to have...?

[2020-05-19 08:37] pplucky commented on #552
Has anyone tried accessing the webserver? My experience is that this crashes/restarts the ESP32, possibly because of memory overflow. Is this maybe related to the fact that the firmware is occupying 95%+ of space? Aside from that, it seems to work fine.

[2020-05-19 08:38] fitim7 commented on #552
Please, be so kind and tell us how. I would love to do the same.

[2020-05-19 10:38] cvanaalst commented on #14
My initial preference would be to:
- enable pages
- small analog clock

Verstuurd vanaf mijn iPhone

[2020-05-19 15:17] martin3000 commented on #418
when I use "name: test_5", the dns-name becomes "test-05". this is also confusing and maybe a reason why hyphens cannot be used because there would be a conflict.

[2020-05-19 16:41] T0ytoy commented on #443
@RoelVideler I just flashed one of my LSC E14 RGB light bulb using you method and the sm2135.cpp you shared in this thread. I had to use static IP to make it recognized in home assistant, but the issue doesn't seem to be with the firmware.

So far it's working really good for the cold white / warm white feature, I can adjust brightness and light temperature without any hiccups, excepted for the fa

[2020-05-19 18:44] m1ch opened #737 "Improvements of pulse_counter component"
**Describe the problem you have/What new integration you would like**

The pulse_counter component is lagging some features for my use case, that I also can't reproduce otherwise.
These are the features that I have in mind:
* Implement a 'slow' mode for ESP32 where it behaves like an ESP8266
* Implement an option to send an MQTT message with the time in ms every time an impulse is detected.
  * Al

[2020-05-19 19:59] rspaargaren commented on #14
ROTATE 90 and SCROLL HAVE MERGED

[2020-05-20 00:26] OnlineGuz opened #738 "multiple VL53L0X sensors"
**Describe the problem you have/What new integration you would like**

I would like to support 2 or more VL53L0X sensors

**Please describe your use case for this integration and alternatives you've tried:**

There might be two way to do this:
1. **Put two (or more) VL53L0X sensors on the same i2c bus**: but currently this is not possible as they would have the same address. The VL53L0X supports a

[2020-05-20 08:30] andriej commented on #517
No further news?

[2020-05-20 18:22] crzykidd commented on #339
+1 and/or read deep sleep time from MQTT and use that for next deep sleep.

[2020-05-20 22:57] RoadkillUK commented on #14
Nice work @rspaargaren, I've been testing with it and I can't find fault.

Suggestions would be the stack the modules on top of each other maybe in a 4x4 setup for example, I like the idea of the clock : flashing too.  Having part of the display static while changing another section on a loop or scrolling.

Also, last thing ... when you say merged, does that mean I can remove the custom_config etc

[2020-05-21 06:36] rspaargaren commented on #14
@RoadkillUK
The "extra" options I will work on later. I have now pushed all the recent updates into the originating branch:
https://github.com/rspaargaren/esphome/tree/MAX7219NEW
It is now waiting for approval to be integrated into DEV of ESPHOME.

[2020-05-21 07:10] rspaargaren commented on #730
@minsuke I have updated the code as I was expecting some error when the string is smaller than the actual display. Can you check on the updated code?
It would be interesting to check the following tests:
- Long code -> will it still scroll
- Short code -> that fits within the screen 4 digits?
- Short code -> with offeset value
- Code including a dot.

[2020-05-21 11:36] onkelbeh commented on #586
In addition, made some tests with tornado-6.0.4, did not find any problems. 1.14.3 runs good with it.

[2020-05-21 15:47] ahpohl commented on #732
@vevsvevs Thank you for contributing code and your vigorous testing efforts!

Code for supporting the MJYD02YL-A night light has been merged with [ahpohl/esphome:dev](https://github.com/ahpohl/esphome). For anyone who wants to try out this sensor, use this configuration (illuminance has been removed in favour of the light on/off status, default device class changed to motion):
[code]

[2020-05-21 21:56] santibur06 opened #739 "Time-based position calculation for Roller Shutter Blinds"
**Describe the problem you have/What new integration you would like**
I'm using the time-based cover component to control my window's Roller Shutter Blinds at.
It works perfectly with the exception of the position calculation which seems to be a bit more complex to calculate for roller shutter blinds.

So right now the component calculates position like this:

- Time 0s: Position 0%
- Time 50% of

[2020-05-22 09:33] pat1300 commented on #339
+1 : very interested

[2020-05-22 11:41] Bierchermuesli commented on #339
+1
Workaround: I use a simple NodeRed Flow which puts the esp to sleep for a hour (or every time it wakes up and conditions aren't met) - depending on (Solar Power, Weather at Night, etc...)

[code]
and NR:
[code]

Of course it would be nice to have a `deep_sleep.enter` function with time-duration as argument

[2020-05-22 15:24] dborsnich opened #740 "TTGO T call"
**Describe the problem you have/What new integration you would like**

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-05-22 16:45] santibur06 commented on #739
yes, that would work.

so position would stay at 0% while the cover is going up during that roller_shutter_delay right?

what do you think about using 10% of movement for that shutter delay?

0-10%: Cover goes up, consuming the _roller_shutter_delay_.
11-100%: Cover goes up consuming the _(open_duration - roller shutter delay)_

That way you would still see position being updated whenever the cove

[2020-05-22 17:18] glmnet commented on #739
And what is the difference between that and what you already have?

[2020-05-22 18:04] theundefined opened #741 "Support for GP2Y1010AU0F sharp dust sensor"
**Describe the problem you have/What new integration you would like**
Support for cheap GP2Y1010AU0F dust sharp sensor.

**Please describe your use case for this integration and alternatives you've tried:**
Migrate from espeasy :-) https://www.letscontrolit.com/wiki/index.php?title=GP2Y10

[2020-05-22 20:04] santibur06 commented on #739
Right now if I set the position to 50% it will unroll (the delay) and then go up but since already consumed the delay it stops at around 30% kf the window

[2020-05-22 20:09] santibur06 commented on #739
What I'm saying is that while we unshutter it we update position but from 0 to 10% max so we can also control the unshuttering from HA. Right now it will say like 20% when it finishes unshuttering

[2020-05-23 17:19] benek984 commented on #552
Hi, now to install this new platform to ESPHOME? I cant find any manual for this.

[2020-05-23 18:43] wisesokol opened #742 "Climate Fujitsu_general, don't work"
Unfortunately, my Fujitsu air conditioner (Model ASY7RSCCW) with the AR-DB5 remote does not respond to the existing component. Can you help me?

[2020-05-23 18:43] #742 closed

[2020-05-23 19:34] ahpohl commented on #552
The documentation preview is here: https://deploy-preview-576--esphome.netlify.app/components/sensor/xiaomi_ble.html

[2020-05-24 03:32] Vxider opened #743 "Change light effect in lambda or action"
**Describe the problem you have/What new integration you would like**
Can I change light effect in action or lambda? Or can I change display brightness in action(or lambda)?

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-05-24 08:11] Dreamoffice commented on #14
hi
really cool to see that the max7219 will be implemented to ESPhome. i would like to test it but how? can some one explain how to use it in hassio?

[2020-05-24 09:30] benek984 commented on #552
Thanks for this link. However, I still getting error: Platform not found 'sensor.xiaomi_lywsd03mmc'

How do I add this platform to my ESPHOME plugin?

[2020-05-24 10:36] ahpohl commented on #552
@benek984 I edited my previous comment. Instructions how to compile the  lywsd03mmc component the are in https://github.com/esphome/feature-requests/issues/552#issuecomment-613628068

[2020-05-24 16:53] rspaargaren commented on #14
Hi the max screen has not been pushed into dev yet so you need to get the files manually...

[2020-05-24 19:26] Dreamoffice commented on #14
hi @rspaargaren
how can i do this manually? with vs code? never done this before :-(

[2020-05-24 19:34] Semmu opened #744 "ESP32 internal temperature sensor"
Hi!

First of all, thanks for this awesome project, I was genuinely surprised how easy and straightforward using this is! What an awesome DIY experience!

**Describe the problem you have/What new integration you would like**
I would love to be able to get the internal CPU temperature sensor value from an ESP32. I want to use it to track it's performance and load under different circumstances.

Acc

[2020-05-24 19:58] marrold commented on #744
The Temperature sensor is only accessible in older ESP32 hardware as far as I know

[2020-05-24 20:37] angeltonio commented on #14
Hello @rspaargaren, so when should we wait to max7219 screen into a dev??...cheers

[2020-05-24 20:39] angeltonio commented on #14
all of them...;)

[2020-05-24 21:36] RoadkillUK commented on #14
Take a look at this earlier post on how to use this before it's integration.

I'm leaving it there as I'm drinking and will be of no use from this moment on.

https://github.com/esphome/feature-requests/issues/14#issuecomment-621739178

[2020-05-24 22:10] Frucoboti commented on #518
Hello,
I am playing with NUT and Esphome, but to mix the esphome 'binary.sensor' device with the HA 'device_tracker' is a disaster. The 'device_tracker' is associated to a HA 'person' ID.
How do you do this?

This is the code at Esphome

_esp32_ble_tracker:
   scan_parameters:
     interval: 512ms
     window: 320ms
     duration: 300s
     active: true

binary_sensor:
  - platform: ble_presence

[2020-05-25 08:34] Highland7471 opened #745 "VL6180"
**Describe the problem you have/What new integration you would like**
Integration of the VL6180 distance sensor.

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**
Same as VL53L0X Time Of Flight Distance Sensor but for smaller distances
https://www.sparkfun.com/products/12785

[2020-05-25 14:41] zuidwijk commented on #660
I would LOVE (yes capitals) this feature to be added to ESPHome. I'm building many different automation hardware for Home Assistant based on ESPHome, and this is something I really mis. Adding a second ESP only to use esp-link next to ESPHome is such a waste...

[2020-05-25 15:19] m1ch opened #746 "New trigger on_connect and on_disconnect"
**Describe the problem you have/What new integration you would like**

I would like to run some automation when MQTT, WIFI or Home-assistant is [dis-]connected.

**Please describe your use case for this integration and alternatives you've tried:**

I am sending several measurements with a single MQTT transmission. To get them to be automatic recognized in Home-assistant I need to send the configur

[2020-05-25 15:30] m1ch commented on #737
I have now a more, or less working solution using GPIO sensors, globals and timed lambdas:
https://github.com/m1ch/esphome-configs/blob/gpio-and-lambdas/powermeter_test.yaml

Still, I think it would be better to do it just with pulsecounters.

[2020-05-25 17:06] Dreamoffice commented on #14
is it possible to send a sensor value from Home assistant to the matrix? like kitchen temp 23°C ?

[2020-05-25 17:48] RoadkillUK commented on #14
Have read through this section, possible start at the top to learn more.

[Formatted Text](https://www.esphome.io/components/display/index.html#formatted-text)

[2020-05-25 17:52] RoadkillUK commented on #14
This is my test sketch ...
[code]

[2020-05-25 19:03] Dreamoffice commented on #14
@RoadkillUK
thanks for this. works great.
is it possible to send the data from home assistant.
if the garage door is open, it is shown on the display? otherwise the display will stay off.

[2020-05-25 19:39] rspaargaren commented on #14
Yes there is a command to switch the display off .

[2020-05-25 19:44] Dreamoffice commented on #14
ok
but i still don t get it how to send messages from home assistant. ??

[2020-05-25 19:52] rspaargaren commented on #14
I am not behind my computer now. You can try to use the home assistant text sensor:

https://esphome.io/components/text_sensor/homeassistant.html?highlight=home%20assistant

Store the value in a global parameter and use this in the lambda.

It.printf(“Input from HA: %s”, globalsensor);

[2020-05-25 20:52] RoadkillUK commented on #14
Here's another of my sketches, I'm not programming genius but this works.  Please note this was compiled on an ESP32 so you may need to make changes to the pins and the platform.

This sketch will display the Time for 55 secs, then my cars range/charge for 5 secs, however if the ``` input_boolean.news ``` is true, then display the rss feed ``` sensor.new_rss_news ``` for 1 minute.

Have fun.

[cod

[2020-05-25 21:31] randybb commented on #738
Another nice thing you can do with two sensors that are in defined (needs to be configurable) distance apart is to measure speed (distance / (time_2 - time_1) ) and object length (speed x (time_1_off - time_1_on)). The same principle is used on roads where they can with induction loops measure car count, define their type based on length and their speed. Would be good to have all these values calc

[2020-05-26 08:11] larsenglund commented on #18
Did anyone start working on this?
I would like to use this for a soil moisture sensor to know when to water my plants.

[2020-05-26 22:55] silverchris commented on #371
I did a couple of things to clean it up a little bit in https://github.com/silverchris/esphome/tree/auto-sleep

Probably not ready for a pull request or anything, but is working on the few devices I am testing with. They only use a toggle switch input, and the LEDC output, so nothing complex.

[code]

[2020-05-26 23:07] #457 closed

[2020-05-27 05:48] ryrzy commented on #552
yeah! it is merged to dev!!

[2020-05-27 11:13] JBS5 commented on #552
Just flashed an esp32cam with the ESPHome dev branche and the LYWSD03MMC is working. But, the ESP is rebooting every now and then.  This does not happen with the stable branche with the flower care.

[2020-05-27 11:15] pplucky commented on #552
Are you using webserver? To me, [this seems](https://github.com/esphome/feature-requests/issues/552#issuecomment-630674059) to happen every time I access the webserver.

[2020-05-27 11:21] JBS5 commented on #552
No, only the xiaomi_lywsd03mmc sensor.

[2020-05-27 12:59] dircr commented on #339
+1 for this

I have an oil-level sensor that I would like to report twice a day if I have >300L in the tank and perhaps every 30 minutes if it's less than  100L.

[2020-05-27 13:39] gbarneda commented on #552
Installed this morning with an ESP32 and 8 sensors and working perfect. Thanks for you efforts! 👏🏻

[2020-05-27 23:34] santibur06 commented on #739
Hi @glmnet, just wondering if you had time to check this out.

Thanks!

[2020-05-28 01:48] kipwittchen commented on #622
Has anyone else tried taking a stab at this with any luck? I was able to get sensor data pulling into HA but realized I had set up the sensor component incorrectly. Or at least I think I did because the d1 mini I'm running it on was very unstable, frequently crashing with a soft WDT reset. I've tried separating out the sensor into a subfolder under gps but esphome isn't recognizing sensor.gps.

I'

[2020-05-28 03:36] matphillips opened #747 "add 74hc595 to Max7219 module?"
**Describe the problem you have/What new integration you would like**
The Max7219 plugin for 7segment displays is nice and useful, I happen to have a board that looks just right laying around, but it uses two HC595 drivers instead of the Max7219 (which is commonly used in the 8x8 matrix's)
Any chance of adding support for this alternative?

**Please describe your use case for this integration and

[2020-05-28 08:47] SkyWolf01 opened #748 "Monochromatic Led Glowing effect"
Is it possible to add the Glowing Effects for monochromatic lights? It could be useful for devices like sonoff touch, with modded led pin

[2020-05-28 08:47] #748 closed

[2020-05-28 08:50] SkyWolf01 opened #749 "Add glowing effect for monochromatic light"
**Describe the problem you have/What new integration you would like**
It could be useful for devices like sonoff touch, with modded led pin, for a better visual effect

**Please describe your use case for this integration and alternatives you've tried:**
These are an updated version of the sensors from xiaomi mijia, and are small compact devices that can be used in discreet places

**Additional co

[2020-05-28 08:50] #749 closed

[2020-05-28 11:32] sjtrny opened #750 "Self-Documenting Components"
**Describe the problem you have/What new integration you would like**

While the ESPHome project is great, the documentation of components is not as comprehensive as it could be.

I would like that all the following items are shown on the component page:
- configuration variables (already there)
- `it` member variables and functions available in lambdas

The other issue is that the current documen

[2020-05-28 11:42] anduliu commented on #552
Thank you very much for your efforts.
After a lot of fighting to compile esphome, a novice like me has got one of his sensors working.
I have several questions and I do not know if this is the correct forum, in any case I will mention them and please excuse me.
Can a frimware update change the Binkey of the sensors?
How are more sensors added in the yaml file?
Thank you very much for your effort.

[2020-05-28 12:46] santibur06 opened #751 "[Hassio Add-on] Ability to filter by online/offline/update available status"
**Describe the problem you have/What new integration you would like**

**Please describe your use case for this integration and alternatives you've tried:**

In the hassio add-on, it'd be great to have a dropdown to filter devices based on their status, or show offline devices first, update available next and then all online.

This could also be 'fixed' if the size of each row/device was smaller a

[2020-05-28 18:30] ahpohl commented on #552
I don't know as I have not updated my sensors firmware yet. In case the bindkey changes during update, you could just re-add the sensors to the Mi Home app to generate a new key, extract the new key and change your config accordingly. Re-flashing ESPHome to your ESP32 does not alter your sensors.

The documentation preview https://deploy-preview-576--esphome.netlify.app/components/sensor/xiaomi_bl

[2020-05-28 20:27] JBS5 commented on #552
Just flashed an ESPHome bin file from the stable branch to the same ESP32 and the ESP is not restarting anymore. Online for almost 5 hours now. With the dev branch max 3 hours, but most of the times less. Nobody experiencing the same issue?

![image](https://user-images.githubusercontent.com/25594213/83190079-2d612780-a132-11ea-9f24-8dc6335598a5.png)

[2020-05-28 23:45] anduliu commented on #552
Thanks for your reply.
All LYWSD03MMC sensors are working perfectly. My question was stupid, after reading a lot of documentation, I asked the simplest. Regarding the change of Bindkey I confirm that it changes after an update of the sensor frimware. The Bindkeys that I had taken before the update were not the same that I have. So my headaches for this to work.
Thank you very much for your time an

[2020-05-29 02:10] #148 closed

[2020-05-29 09:05] blademckain opened #752 "support for climate preset_modes"
**Describe the problem you have/What new integration you would like**
I have seen that support for fan_modes and swing_modes has been added but support for preset_modes for the climate component is still missing

**Please describe your use case for this integration and alternatives you've tried:**
in this way the climate component would be more compatible with [HA's Climate Entity component](https

[2020-05-29 10:28] PaulAntonDeen opened #753 "Support for Version 2 of 7.5 inch monochrome waveshare e-paper"
**Describe the problem you have/What new integration you would like**

Waveshare has a V2 of the 7.5 inch e-paper display that is now the standard component they ship. The difference is the new resolution of 800x480 instead of the old 640x384. It should be compatible on the interface in every other aspect according to their page: https://www.waveshare.com/product/displays/e-paper/7.5inch-e-paper-h

[2020-05-29 12:51] PaulAntonDeen commented on #753
V1 specification: https://www.waveshare.com/w/upload/b/b6/7.5inch-e-paper-specification.pdf
V2 specification: https://www.waveshare.com/w/upload/6/60/7.5inch_e-Paper_V2_Specification.pdf

If somebody can help me how to parse this and link it back to the files that need to change in ESPHome, I would like to give this a try.

[2020-05-29 22:30] caesar1987sk commented on #568
@inforsgit did you anything with this baby monitor?

[2020-05-30 10:25] Wonkavator opened #754 "Anemometer sensor Ventus WS132"
**Describe the problem you have/What new integration you would like**
I would love to integrate the Anemometer sensor Ventus WS132. As its not so pricy.
It has sensors for wind speed, wind direction, temparature and humidity.

**Please describe your use case for this integration and alternatives you've tried:**
Simple integration with a public scipt, bound to Mqtt :(
https://gist.github.com/micw/0

[2020-05-30 11:51] ahpohl commented on #552
@pplucky @JBS5 I enabled the webserver and the uptime sensor on my 3 ESPs to investigate the issue you are having with random reboots and crashes. Mine are running so far for 18 hours without crash according to the uptime counter displayed in the web interface of the ESPs. The crash you are observing is hard to debug and may not be related to the `xiaomi_ble` software component. I'll keep on monit

[2020-05-30 12:03] pplucky commented on #552
Actually enabling the webserver doesn’t cause the crash/reboot, you need to access the webserver. I will try to do a small movie later to show you - as soon as I access the webserver, all sensors become unavailable.

[2020-05-30 16:19] JBS5 commented on #552
Thanks for your effort.
In my case, I am not using the webserver. Only one LYWSD03MMC sensor is present in the yaml, and a uptime sensor.

[2020-05-30 16:44] coldpenguin commented on #552
Can you report what the restart cause is please from the logs? One thing to remember is that the Bluetooth stack will draw extra power and add latency to the watchdog loops.

[2020-05-30 16:50] JBS5 commented on #552
Sure I will. But after adding the log level as below, I do not see anything except a reconnecting message in the live log.

[code]

[2020-05-30 17:11] coldpenguin commented on #552
Are you connecting to the logs via WiFi? I find that it is the first thing printed when I connected.

[2020-05-30 17:14] JBS5 commented on #552
I am looking at the logs via de Logs button in the ESPHome dashboard. This is what I see when it reboots

![83106223-62cb2e00-a0bc-11ea-9549-a321fbcaa9ca](https://user-images.githubusercontent.com/25594213/83334873-ba7abc80-a2a9-11ea-8922-d687b133e6f0.png)

[2020-05-30 18:41] benek984 commented on #552
Can someone help me obtaining  bindkey? I have done packet capture as describe in [Obtaining The Bindkey](https://deploy-preview-576--esphome.netlify.app/components/sensor/xiaomi_ble.html#obtaining-the-bindkey) but how do I filter it and what I am looking for?

[2020-05-30 21:30] anduliu commented on #552
Mucho mas sencillo
 https://github.com/custom-components/sensor.mitemp_bt/issues/7#issuecomment-595874419

[2020-05-31 08:31] PaulAntonDeen commented on #753
https://github.com/PaulAntonDeen/esphome/tree/Add-7.5inchV2-waveshare/esphome/components/waveshare_epaper
Branch for 7.5in_V2
I have the display working but currently it is producing inverted colors. anybody know how to change the display to produce colors correctly?

[2020-05-31 08:44] ahpohl commented on #552
My ESPs haven't rebooted itself since 39 hours when I uploaded the latest dev firmware (checked the uptime counter on the web interface). I have wifi, ble_tracker, webserver, ota, uptime, api, mqtt and 2-4 LYWSD03MMC sensors on each ESP configured.

The only issue I have is that the OTA update on the ESP with 4 LYWSD03MMC would disconnect before the upload has finished and I have to use the serial

[2020-05-31 10:39] inforsgit commented on #568
Sadly not, I had too much time looking after the baby :)

[2020-05-31 10:41] nekromant commented on #45
Hm, this would be useful. I happen to have my own pure-C optimized library for nrf24l01 (basically @ManiacBug 's arduino ported to pure C. I'll see if it compiles for esp8266 (it should). But it's pretty lowlevel.

[2020-05-31 10:48] caesar1987sk commented on #568
i am trying to get some data from sensor. when app on mobile is not started it send allways same data, when app on mobile is started it dont send anything. I am getting data using

` logger:
    level: VERY_VERBOSE`

maybe i need to call some of the services but i dont know how.

[2020-05-31 11:17] alexbarcelo opened #755 "Having `FilterChain` as a standalone class and use it from other (non-sensor) components"
**Describe the problem you have/What new integration you would like**

I am trying to augment certain features of certain components, and I would find useful to be able to use filters from outside sensors, e.g. have a `FilterChain` C++ class that can be used from not only sensor components but also other places like the `TimeBasedCover` component.

**Please describe your use case for this integrat

[2020-05-31 11:56] PaulAntonDeen commented on #753
I got it to work myself, code in pull request #1077

[2020-05-31 11:56] #753 closed

[2020-06-01 11:21] Hedda commented on #688
FYI, @s-hadinger has now got one and started review https://github.com/arendst/Tasmota/issues/8583

First signs it is the EFR32 Zigbee module it has inside it has a EmberZNet / Ember based firmware on it.

[2020-06-01 14:19] benek984 commented on #552
I am sorry but still don't understand how to obtain this Bindkey. Where do I install this plugins?

[2020-06-01 14:45] anduliu commented on #552
Bindkey extraction guide.
1) Download this app on your android mobile:
https://ru.kapiba.ru/mihome/files/old/MiHome_5.6.88_63028_vevs.apk
2) Create the folder on your mobile:
your_interlal_storage / vevs / logs /
3) Restart the mobile
4) Open the MiHome app that you have installed and link your thermometer.
5) Look in the folder / storage / vevs / logs if you have your Bindkey

[2020-06-01 18:05] Svrbinek commented on #738
Hello. I also join this request. I built the stair lighting according to this pattern https://www.youtube.com/watch?v=X8vHWPlUJSw and connected it to WLED and its usermods starway wipe and programmed the rest in NodeRED. It is simply not possible to use these sensors because ESPHome does not yet support them as MULTI. I like to get involved and help with testing, etc. I'm learning to program in Py

[2020-06-01 18:32] randybb commented on #738
The cleanest way is to use a GPIO expander as is written in their [design sheet](https://www.st.com/resource/en/application_note/dm00280486-using-multiple-vl53l0x-in-a-single-design-stmicroelectronics.pdf), connect XSHUT and GPIO1 (INT will be needed for precise time measurements) and then we can change its address. But it needs to be supported first.

[2020-06-02 00:13] jjok commented on #556
I was just going to try out esp32-ble2mqtt, but I don't really understand how to. It would be great if ESPHome had support for generic GATT characteristics.

[2020-06-02 04:27] erreipi opened #756 "support for CVBS(Composite Video Banking Sync) to ESPHOME"
**Describe the problem you have/What new integration you would like**

I want to use it by connecting underwater(waterproof) camera(ex. CCTV) and ESP module,
but I don't know how to import from CVBS in.
It would be very useful if CVBS be supported.

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-06-02 05:38] kvvoff commented on #754
Sounds great.  Where did you buy this anemometer?  I can not find

[2020-06-02 09:55] exxamalte commented on #745
Here is some custom component code that might help: https://github.com/exxamalte/esphome-customisations/tree/master/vl6180x

[2020-06-02 10:54] Hedda commented on #688
There is now also a deep dive follow-up discussion here in parallel about hacking or flashing its EFR32:

- https://github.com/Koenkk/zigbee-herdsman/issues/168

[2020-06-02 15:43] Wonkavator commented on #754
Probably just the German market has it?

- [amazon](https://www.amazon.de/Ventus-Ersatz-Windmesser-W132-Funk-Wetterstation-W155/dp/B01NAM1E21)

- [reichelt (English translations)](https://www.reichelt.de/spare-wind-gauge-for-ventus-wireless-weather-station-ventus-w132-p132595.html?GROUPID=5992&START=0&OFFSET=16&SID=94XtZyyawQAT8AAF2jA4U7ef9f2e19bcb227da6922de3837d817b&LANGUAGE=EN&&r=1)

- [ebay](h

[2020-06-02 16:50] dedors commented on #552
@ahpohl probably related: https://github.com/esphome/issues/issues/869

@anduliu your apk link requires a login! can you mirror it?

I tried with grabbing the key as described in esphome docs https://deploy-preview-576--esphome.netlify.app/components/sensor/xiaomi_ble.html#obtaining-the-bindkey but it seems for Android it only works for older versions, otherwise the mi home app has to be de- and r

[2020-06-02 18:39] ahpohl commented on #552
Obtaining the bindkey can be a bit cumbersome (I only used Android and have no experience with the iPhone). The tricky part is to install the Remote PCAP certificate in the system store rather than in the user store in order to make the man-in-the-middle attack work (look here for instructions: https://github.com/ahpohl/xiaomi_lywsd03mmc and https://blog.jeroenhd.nl/article/android-7-nougat-and-ce

[2020-06-02 19:07] dedors commented on #552
Thanks for this other solution. Modifying the contents of system partition just for this is still quite a bad step to aquire the key, but still easier than de- recompile the apk.

Looking forward for the esphome implementation.

[2020-06-02 19:29] anduliu commented on #552
Lo siento, no revisé el enlace. Cosas HTML.
En el sitio web del desarrollador no hay inicio de sesión para descargar la aplicación.
Salud https://www.kapiba.ru/2017/11/mi-home.html

[2020-06-02 20:49] dedors commented on #552
(Please keep it in English)

Thanks, it worked with that link. Had to manually give storage permissions (was not requested) till the logs apeared, but that's so far the easiest (but also most untrusted) way so far.

[2020-06-02 22:04] anduliu commented on #552
I think the same. I use a phone that I have through the recycle bin and the guest network of my router. Although I think it's already paranoia ;-)

[2020-06-03 08:02] blademckain commented on #752
@glmnet
could you add this features to [your changes on the climate component](https://github.com/esphome/esphome-docs/pull/415)?

[2020-06-04 10:21] alexbarcelo commented on #739
Oh I am not the only one having those issues for roller covers!

Let me throw my idea here, just to see if it makes sense for this context:

ESPhome has a powerful system of filters. Right now, the code for filters is focused on sensors and using that outside the sensors seems to be hackish (I tried and half-succeeded with workarounds). However, it makes sense --in my head, at least-- to abstract

[2020-06-04 11:58] JBS5 commented on #552
After almost 25 hours uptime (normally max 5 hours) I got some information from the debug component.

[code]

[2020-06-04 18:32] lupumihai commented on #473
Is there some update on this subject?

[2020-06-04 18:46] Highland7471 commented on #745
Thank you. I will test it as sone as possible.

[2020-06-04 19:28] SchmDan commented on #454
What's the current state on this request? I would really love this component!

[2020-06-04 20:41] micfogas opened #757 "Request: MQ135 Air Quality Sensor (PPM) support"
**Describe the problem you have/What new integration you would like**

I would like to request sensor integration for the MQ135 air quality gas sensor. This sensor provides 4 pins: 3.3v, GND, DOUT, AOUT.

**Please describe your use case for this integration and alternatives you've tried:**

I have tried using custom sensor integrations, however I am still learning C++ and Arduino coding. I have fo

[2020-06-05 01:10] buxtronix commented on #582
I wrote an Arduino IDE based BLE to MQTT gateway for these devices, running on ESP32 boards. Until native ESPHome support is written, this is an effective and cheap low-power solution using the same hardware.

https://github.com/buxtronix/am43

[2020-06-05 07:17] hostrup commented on #582
Thanks for the Tip buxtronix - will definitely try that out :)

[2020-06-05 11:18] OnlineGuz commented on #738
Ok, I thought there was some sort of "Soft I2C" that would allow multiple buses even on 8266. Maybe I will try an ESP32 as soon as have some spare time.
Also, the speed stuff is cool, but I'm afraid we would get pretty unreliable results even on a "High Speed Profile". But maybe I'm wrong. @randybb have you already tried some sort of speed measurement using VL53L0X without ESPHome?

[2020-06-05 15:42] randybb commented on #738
I have only one sensor, will order couple more.

[2020-06-05 17:21] iliyang commented on #52
FWIW, Tasmota offers several options to communicate between devices. I tried each and here's my experience:
1. **Direct HTTP requests:** no middle-man required (apart from WiFi router, obviously). Works but there's a noticeable lag. My explanation is that the request involves initiating a connection between the nodes, and HTTP is a rather heavy protocol for simple requests.
2. **KNX:** again, no m

[2020-06-05 17:50] ascillato commented on #52
FWIW, @iliyang

Besides all 3 options, you also have UDP groups in Tasmota. This last option could be an alternative for ESPHome for device to device communication.

About KNX in Tasmota, you should open a new issue there, because KNX is pretty reliable for me. Most of the time, the initial issues some other users had with KNX were not enabling Multicast on theirs wifi routers.

Anyway, UDP groups

[2020-06-05 17:58] iliyang commented on #52
Thanks for the tips regarding KNX and UDP groups @ascillato!

[2020-06-06 16:04] josh1e commented on #51
Hi all,

was a PR created? is there an update on status please? it doesn't sound like anything the community can do to help here, other than keep prompting for updates.

not sure if it helps, but in absence of an esphome solution, i'd been using alternative fw (not sure if can name it?) on a nodemcu esp-12f 8266 board and an ili9341 display, i can get the full demo to work (multi coloured squares,

[2020-06-06 20:17] poldim commented on #421
Have you guys found a method for implementing 485 comms with ESP home?

[2020-06-06 21:12] jlweston commented on #481
This would be amazing. I already have several ESP32s with ESPHome installed and BLE presence detection is the only thing they're missing. If the `monitor` project linked above can do it using `NAME` requests, would it be easily implemented in ESPHome?

[2020-06-06 21:56] ssieb commented on #51
@josh1e no one here is going to be upset about you referring to other projects.

[2020-06-06 22:58] dvdavide opened #758 "Wifi channel as exposed sensor"
**Describe the problem you have/What new integration you would like**

I'd like to be able to have the wifi channel that the device is using available as a sensor to use with HA

**Please describe your use case for this integration and alternatives you've tried:**

I have a few access points with the same SSID on different channels, and I would like to check at a glance that the devices are connec

[2020-06-07 10:18] SeByDocKy opened #759 "Add icon field for binary sensor"
**Describe the problem you have/What new integration you would like**

Simply, it would be great to add the _icon_ field  for binary sensor

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-06-07 15:13] ofalvai commented on #339
I ended up writing a custom ESPHome component that reads sleep duration from an MQTT topic and goes to sleep when another MQTT topic receives a message: https://gist.github.com/ofalvai/4d5b6fd4a7fd31f2495f2846464d4500

[2020-06-07 16:59] hapklaar opened #760 "Add support for Adafruit SSD1331 OLED color display"
**Describe the problem you have/What new integration you would like**
Please add support for the cheap Adafruit SSD1331 96x64 OLED color display.

**Please describe your use case for this integration and alternatives you've tried:**
Trying to create a CO2 sensor module that shows the current CO2 level and temperature from a MH-Z19B sensor on a display with a bargraph with color based on that level

[2020-06-07 19:57] randybb commented on #759
It will not help have it just on ESPHome site. You have to ask HA first for such option - https://www.home-assistant.io/integrations/binary_sensor/

[2020-06-08 06:29] AquaMCU opened #761 "Serial USB Port on WEMO D1"
**Describe the problem you have/What new integration you would like**

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-06-08 06:30] #761 closed

[2020-06-08 06:31] AquaMCU opened #762 "Serial USB port on WEMO D1"
**Describe the problem you have/What new integration you would like**

I want to use the USB serial communication so I can send commands over this port. For example my usecase:

I want to enable a controllino (a simple arduino device with a USB port with wifi using esphome

**Please describe your use case for this integration and alternatives you've tried:**

N/A
**Additional context**

Since most

[2020-06-08 07:28] Dbroek commented on #397
i back this feature request. I have a ESPhome in the garden. Would be nice to integrate this way into Home Assistant. I use this meter most of the time in the garden close to the barbeque :D

[2020-06-08 08:23] FrankBakkerNl opened #763 "pulse_counter report total pulses with dynamic interval"
**Describe the problem you have/What new integration you would like**

I would like the pulse counter to also report the total number of pulses instead of just the current pulses / minute. Even nicer would be if the pulse count would be persisted in the eprom, so that it is kept over reboots.

To avoid wearing out the eprom, the persistence interval could be made configurable, something like: Pers

[2020-06-08 11:09] JohanBraeken opened #764 "Add "before" turn_on/turn_off trigger"
**Describe the problem you have/What new integration you would like**

In order to ensure no 2 outputs can be active at the same time, I'd like to have to possibility to execute local code "before" an output is changed state.
The current triggers "on_turn_on", "on_turn_off" execute code "after" the output has been changed and this is not always desireable.

**Please describe your use case for this

[2020-06-08 11:21] JohanBraeken commented on #616
FYI: Technically, the standard says an SSID contains a maximum of 32 octets, without any specified encoding. This is not the same as 32 characters.
This implies a valid SSID can be arbitrary binary data, or contain whitespace characters including NUL.
Today, most devices do support UTF-8 encoded SSIDs.

[2020-06-08 12:26] Wauter commented on #758
Hi @dvdavide

This is not currently part of esphome, but seems fairly trivial to achieve with a template (text)  sensor. I verified this on esp6288

`text_sensor:
  - platform: template
    name: "Wifi BSSID"
    lambda: |-
      std::string out;
      char buffer[64];
      sprintf(buffer, "%u", wifi_get_channel());
      out.append(buffer);
      return out;
    update_interval: 60s`

output:
[1

[2020-06-08 12:29] Wauter commented on #758
( Also, if you have a clear definition of which access point you would like each sensor to be connected to, you can define that access point's bssid in your configuration: https://esphome.io/components/wifi.html?highlight=bssid )

[2020-06-08 12:37] Wauter commented on #764
Have a look at gpio interlocking:
https://esphome.io/components/switch/gpio.html?highlight=interlock#interlocking

 and the template cover component.
https://esphome.io/components/cover/template.html

[2020-06-08 14:10] randybb commented on #762
On these DEV boards is just a simple USB to serial converter attached to UART0 as you would do with a bare ESP8266/ESP32 module. Sure, you can use it, just need to disable logging as is described here https://esphome.io/components/uart.html

Probably you have noticed, that the name ESPHome stands for remote sensors/actuators running on ESP controlled from Home Assistant, so the primary way how you

[2020-06-08 14:39] JohanBraeken commented on #764
Thank you for your swift response.
Indeed, the referenced documentation completely implements the feature I described.

This request can be closed then.

[2020-06-08 14:39] #764 closed

[2020-06-08 17:00] FrankBakkerNl commented on #763
After some more investigation I found that the total_daily_energy sensor partly does what I described. Especially in combination with a filter.

I think however the 'daily' reset is very specific. It would be nice to have a configurable reset interval, or no reset at al. The name implies it is specific for energy counters, but I would assume any pulse based counter can be used.

Still it seems a b

[2020-06-08 17:37] Neukam opened #765 "Atlas Scientific EZO i2c sensors"
I would like to see support for Atlas Scientific EZO sensors with i2c mode, specifically the PH and ORP sensors for use in a pool controller or hydroponics system.  I want to be able to fully automate my pool with salt water generator.  I'm currently using a Sonoff 4ch to control the pump, SWG and lights and read from a DS18B20 temperature sensor.  I would like to add the Atlas Scientific sensors

[2020-06-08 17:37] #765 closed

[2020-06-08 19:22] Neukam opened #766 "Atlas Scientific EZO i2c sensors"
**Describe the problem you have/What new integration you would like**

I would like to see support for Atlas Scientific EZO sensors with i2c interface, specifically the ORP and PH sensors

**Please describe your use case for this integration and alternatives you've tried:**

 I want to be able to fully automate my pool with salt water generator. I'm currently using a Sonoff 4ch running Tasmota to

[2020-06-08 20:27] AquaMCU commented on #762
Hi.

I will give UART0 a try and come back to you.

Thanks for the reply

[2020-06-08 21:47] dvdavide commented on #758
All excellent advice, thank you very much

[2020-06-09 00:32] felixsanz opened #767 "Follow XDG Base Directory Specification"
Please store relevant files inside `${XDG_DATA_HOME}/esphome` (which is usually `~/.local/share/esphome`) instead of `~/.esphome`.

This removes clutter of the home directory

[2020-06-09 00:32] #767 closed

[2020-06-09 00:33] felixsanz opened #768 "Follow XDG Base Directory Specification"
**Describe the problem you have/What new integration you would like**

Please store relevant files inside `${XDG_DATA_HOME}/esphome` (which is usually `~/.local/share/esphome`) instead of `~/.esphome`.

This removes clutter of the home directory.

**Please describe your use case for this integration and alternatives you've tried:**

**Additional context**

[2020-06-09 07:15] diogosalazar commented on #45
The mysensors/MySensors project handles communication between nrF24l01 modules and seems to be able to register devices dynamically.
ESP8266 is supported as a gateway.

Would it make sense to integrate with that project instead of implementing from scratch?

[2020-06-09 08:01] nekromant commented on #45
As far as I got the nRF24L01 part, we have a huge bunch of hardware and stacks:
- Dumb sensors/boards using simple protocols. As simple as send/receive a predefined payload. (Should be easiest).
- rf24mesh devices. rf24mesh doesn't specify any protocol, it's just read/write, no device method discovery/enumeration.
- mysensors that @diogosalazar mentioned. (That one is new to me, I'll have to check

[2020-06-09 18:49] mspinolo opened #769 "EspHome Native API: explicit HA IP address"
**Disclaimer:: I am not a network expert hence my statements could be wrong

Hi,

logging my network activity with Wireshark I see Esphome flashed ESP8266/ESP32 send a decent amount of broadcasting messages querying for home assistant IP address.

This leads to a load of the network and IoT devices has usually a limited wifi bandwidth: a huge number of devices could reduce it.

I was wondering if

[2020-06-10 01:00] #692 closed

[2020-06-11 00:19] glmnet commented on #45
I discovered ESPHome because I hated MySensors, their code quality seems ok, but these things communicating never was reliable for me, probably I was doing something wrong, I don't know.

As for today I believe this FR is outdated, I don't see need for dynamic sensor creation, though it is possible, in fact it is done already, you can just pick the message analyze it and push to any template senso

[2020-06-11 09:08] ClausRN opened #770 "Add support for BL0940 power metering IC used in BlitzWolf® BW-SHP10"
**Describe the problem you have/What new integration you would like**

I would like support for this power metering chip
http://www.belling.com.cn/media/file_object/bel_product/BL0940/datasheet/BL0940_V1.1_en.pdf

**Please describe your use case for this integration and alternatives you've tried:**

It is used in the BlitzWolf® BW-SHP10 smart plug
https://templates.blakadder.com/blitzwolf_SHP10P

[2020-06-11 11:35] matthew-larner opened #771 "Add support for SparkFun MPL3115A2 Barometric Pressure sensor"
**Describe the problem you have/What new integration you would like**
Add support for SparkFun MPL3115A2 Barometric Pressure sensor
Library: https://github.com/sparkfun/SparkFun_MPL3115A2_Breakout_Arduino_Library

**Please describe your use case for this integration and alternatives you've tried:**
I would like to use the MPL3115A2 with a WEMOS LOLIN D32

**Additional context**

[2020-06-11 14:47] Guyohms commented on #425
I agree, I wanted to migrate all my `generic_thermostat` from Home Assistant to ESPHome but this weird behavior of having 2 setpoint to change each time stopped me in the process.

I think the `bang_bang`thermostat should replicate what's done with the `generic_thermostat`

[2020-06-11 18:57] mspinolo commented on #769
I was wondering if similar result could be obtained disabling mDNS on ESPHome devices like it was (I think) before 1.11.0 --> is there an option for this?

[2020-06-12 07:37] Proxx commented on #770
The guys of tasmota are also making progress on this IC
https://github.com/arendst/Tasmota/issues/8175

[2020-06-12 12:22] rt87 commented on #339
+1
My usecase: LED nightlights are only relevant during the night. I could of course use ambient light sensors, but I would prefer to just go by the official dusk/dawn times (+/- an offset, if necessary) for all my ESPs. So once a day these times should be communicated and then the ESPs would go to sleep at a given time and for a given duration, which of course both vary depending on the exact dat

[2020-06-12 13:20] Dreamoffice commented on #14
Found it

now it is runing:
`display:
  - platform: max7219digit
    cs_pin: D8
    num_chips: 12
    intensity: 9
    lambda: |-
      it.printf(0, 4, id(digit_font), "%s", id(max7219).state.c_str() );
      it.scroll(true,1,100,1000,1000);`

[2020-06-12 21:07] Cirrus94 commented on #425
There is already somebody (@kbx81) who is enhancing the component and adding a single setpoint feature here: https://github.com/esphome/esphome/pull/1061

[2020-06-12 21:25] kbx81 commented on #425
I'm not 100% sure if what's implemented in the updated `bang_bang` controller that I'm working on does exactly what's described here, but I think it's really close if it's not an exact match.

If only a single action (heat **or** cool) is defined in the config, the component will only register a single available set point in HA; as such, HA only displays UI for adjusting a single set point. It als

[2020-06-12 21:36] Cirrus94 commented on #425
For me it‘s exactly what i was looking for! Thats the only reason why my DIY esphome thermostats wasn‘t exceeding the prototype phase so far...

[2020-06-12 21:38] kbx81 commented on #425
Yeah, I'm working on the same thing and...yeah. 😄
I guess I'll link this as issue as "fixed" in my PR.

[2020-06-12 22:29] Monacoslo commented on #552
I have added 2 sensors via ESPhome DEV and ESP32

I can see them in logs
`[00:24:02][D][esp32_ble_tracker:544]: Found device A4:C1:38:BC:CA:CB RSSI=-56
[00:24:02][D][esp32_ble_tracker:565]:   Address Type: PUBLIC
[00:24:02][D][esp32_ble_tracker:567]:   Name: 'LYWSD03MMC'

[00:24:32][D][esp32_ble_tracker:544]: Found device A4:C1:38:E7:81:02 RSSI=-56
[00:24:32][D][esp32_ble_tracker:565]:   Address T

[2020-06-13 07:58] pacomm opened #772 "Support for Daikin BRC1H519W7 BLE controller"
**Describe the problem you have/What new integration you would like**
Add support for Daikin BRC1H519W7 BLE controller
https://www.daikin.eu/en_us/products/BRC1H519W7.html

**Please describe your use case for this integration and alternatives you've tried:**
It would be use to control the air conditioner with a esp32 and integrate in Home Assistant

**Additional context**

[2020-06-13 12:44] magnusoverli commented on #276
@OttoWinter What is the status of ESPhome use of platformio espressif32 package version now? Any chance of getting this board added now?

[2020-06-14 00:41] wesparish commented on #572
I'm also looking for a fingerprint sensor and wouldn't mind taking a stab at creating a new component, however, I have a few questions to help prevent going down the wrong path.

1. Are there any examples of components that require some kind of post-installation setup? Everything I've skimmed over looked to be stateless. These fingerprint sensors have an "enroll" process that must be completed. I

[2020-06-14 14:01] lujmoarf commented on #14
Great ! can we see it in next ESPhome release ?

[2020-06-14 17:10] Guyohms commented on #425
Nice then !
I'll wait for your PR to be merged !
Thanks for the work done

[2020-06-15 21:43] glmnet commented on #572
Some components like Dallas and touch esp32 have a setup part. We usually use logs for the user to see which values they will need to use in the yaml.

So maybe you can turn on an enrollment  mode, with a fixed option in the yaml which you have to upload to activate. Then you download another firmware in verify mode. Or you can set a template binary sensor so you can switch from and to enroll mode

[2020-06-16 11:32] henrikssn commented on #687
I started investigating this for the SAMD platform (i.e. Arduino Zero / Moteino M0) in https://github.com/henrikssn/esphome/tree/samd.

So far, I got very minimal version of ESPHome (no logger, api, wifi, ota) to compile and esphome tool can upload the sketch.

Next step would be to write a component for the rfm69. What I am currently uncertain about is how to eventually hook into the API componen

[2020-06-16 15:32] kbx81 commented on #760
I've recently picked up a couple of their SSD1351 displays -- hopefully the SSD1331 is similar enough that it can be part of the same component. I may take a stab at implementing this in the not-too-distant future, unless someone beats me to it. 😄

[2020-06-16 15:58] wesparish commented on #572
Thanks for the tips. I'll see what I can come up with.

[2020-06-16 22:27] sermayoral commented on #553
Same request here. I have lots of battery sensors without the 'device_class' set to 'battery'. There are some custom components to check the battery level of all your devices. The battery sensors defined in ESPHome don't work.

@glmnet i have done customizing the entity, but you have to remember doing it every time, so it quite more convenient doing it in ESPHome.

[2020-06-17 11:10] nekromant commented on #45
@glmnet I just learned about mysensors from this thread and rigged up a test mesh based on my older projects. (Yay, they're no longer sitting in the attic!). So far it looks like the best we have for nRF24L01. As for being outdated - I doubt that. nRF24L01 still provides better battery life for devices like leak sensors, compared to esp8266 and doesn't have a severely over-engineered std, like BLE

[2020-06-17 16:49] postlund opened #773 "Prescence of WiFi network as a binary sensor"
**Describe the problem you have/What new integration you would like**

I would like to have my ESP to continuously scan for available WiFi networks and let me expose binary sensors reflecting if a particular SSID is present. I.e. if I specify SSID "Hello" and every 30s a scam is performed and if "Hello" is available, the sensor is set to true, otherwise false. Perhaps with some filtering (must be

[2020-06-17 17:58] coogle opened #774 "Allow configuration of base directory for builds"
**Describe the problem you have/What new integration you would like**

As it stands right now there doesn't appear to be a way to configure a base directory for the PlatformIO build files. I.e. if I run `esphome foo.yaml run` I end up with a `foo/` directory in the CWD. This makes it hard to organize my device configurations cleanly and commit them to Git without committing PlatformIO stuff I don'

[2020-06-17 18:02] coogle commented on #774
Right after I opened this ticket I realized ESPHome ships with a `.gitignore` that actually does remove the build directories. But that said, it still seems like a good idea to provide a way to change the build-path so I'll leave this request open.

[2020-06-17 18:54] Expaso commented on #763
I was thinking about the pulse counter myself, as Im also using it on an s0 meter and a water meter.

There are 2 things we want to measure here:

1- The active power in Watts, or the current waterflow in l/min
2- The usage over time. In kwh or m3

For number 1 the pulse counter is almost unusable. You want accurate data of the power/water used, and want the feedback to be quick, within seconds. T

[2020-06-17 22:57] glmnet commented on #45
It’s a great platform. It did not work for me.

I just don’t know why would you use it within an esphome controller node. They provide a esp8266 gateway. That is you can connect hass to it then to my sensors network. It’s fully supported and documented.

[2020-06-17 23:10] glmnet commented on #774
https://esphome.io/components/esphome.html

[2020-06-17 23:11] coogle commented on #774
Opps thank you. I missed that bit.

[2020-06-17 23:11] #774 closed

[2020-06-17 23:23] glmnet commented on #425
Closing as pr got merged. Feel free to open another if needed.

[2020-06-17 23:23] #425 closed

[2020-06-18 09:55] pacomm commented on #772
When the the device is paired it's recognized as UE878 RF MODULE

[2020-06-18 11:19] lwqcz commented on #485
What about ESP8266/32 board instead original board + eink display? 🤔

[2020-06-18 13:44] lupumihai commented on #473
I manage to make it work, even if I don't use all its functionality, I believe that my code could help you.
in my code I just read values from Chirp, in the same way, you could write registers to trigger light measurement or temperature by adding the "writeI2CRegister8bit( addr, value)"

Setup for ESPHome is below + the attached extra code "chirp.h" - Remove the ".txt"

esphome:
  includes:

[2020-06-18 13:48] nicke94 commented on #720
Hi,

I managed to get a sensor working with the provided code, Is it possible to add support for multiple sensors on the same device?

The sensors have support for different addresses with two jumpers

Br,
nicke

[2020-06-19 02:15] phixion opened #775 "find3-client support"
**Describe the problem you have/What new integration you would like**

Add support to act as a client for [find3 ](https://www.internalpositioning.com/doc/)indoor tracking

**Please describe your use case for this integration and alternatives you've tried:**

Indor position tracking with the help of wifi and BT devices

**Additional context**

esp32/8266:
https://github.com/DatanoiseTV/esp-find3-c

[2020-06-19 05:04] thehaxxa commented on #643
As a temporary work around for those who do not want to install MiHome you can use GadgetBridge on Android to set the time. Hopefully this gets added as setting the time each month is a bit of a pain.

[2020-06-19 07:38] ariedeleen commented on #751
That would be a nice feature.
Now if for example the connection is lost to Home Assistant, ESPHome the bulk update starts
all over again after reconnecting. Even with the components that already are updated. And not on-line. When using the Update All button in the top right menu.

[2020-06-19 09:41] Wauter commented on #758
I tested it on an esp32 device before posting. I am running the dev build of esphome though, so if you are not, you could try again on dev?

[2020-06-20 11:07] nekromant commented on #45
@glmnet  I guess you're right. The only thing I can think of - combining esphome node and mysensors gateway. As for non-mysensors protocols - perhaps nrf24l01 beacons and presense sensors come to my mind, but still with something like mysensors around, the whole idea of integrating nrf24l01 into esphome sounds like a waste of time (

[2020-06-20 13:08] webfrank commented on #307
Hi I use knx on tasmota without any broker and would be useful to do the same on esphome. I can deploy a totally autonomuos automation

[2020-06-20 13:38] FrankBakkerNl commented on #763
My first 'kind of working' solution was a pulse_counter with an integration sensor. However I got some inf values which, when adding up result in inf, not sure maybe something in my configuration that caused a devision by zero.
The root problem is that the Pulse_counter does a differential calculation which then needs to be integrated again. This undoubly leads to rounding errors which I think are

[2020-06-20 13:41] FrankBakkerNl commented on #763
`#include "esphome.h"
#include <arduino.h>

volatile long pulseCount = 0;
const int pin = 5; // D1

// save every # of pulses
const int saveMaxPulseInterval = 80; // 0.1 kwh because 800 pulses / kwh

// minimun time between saves
const int saveMinTimeInterval = 60 * 1000; // 30 seconds

// save at least once every
const int saveMaxTimeInterval = 10 * 60 * 1000; // 10 minutes

// The interrupt rout

[2020-06-20 13:43] FrankBakkerNl commented on #763
`
sensor:
  - platform: custom
    lambda: |-
      auto my_sensor = new Pulse_Count_Total();
      App.register_component(my_sensor);
      return {my_sensor};

    sensors:
      name: "RawPulsesS0"
      id: "RawPulsesS0"
      internal: true

  - platform: template
    name: "Total consumption EV charger "
    unit_of_measurement: 'kWh'
    accuracy_decimals: 4
    lambda: |-
      const float

[2020-06-20 13:44] FrankBakkerNl commented on #763
Sorry for the long code snippets here (with poor formatting) , but I did want to share what I did and this seemed the easiest way to do it

[2020-06-20 13:47] FrankBakkerNl commented on #763
As a sidenote, I tried to do the configuration of my custom_component, like the pin number etc, in the yaml, like the standard sensor do, but I was unable to get that working, any ideas on how to do that?

[2020-06-20 14:31] FrankBakkerNl commented on #763
My suggestion for a flexible solution is:

[2020-06-21 04:59] Hamper opened #776 "External storage support"
**Describe the problem you have/What new integration you would like**

Support for external storage like MB85RC256V instead of internal flash.

**Please describe your use case for this integration and alternatives you've tried:**

`esp8266_restore_from_flash` stores data to internal flash, but this flash has a limited number of write cycles. Why not to use external fram i2c modules like MB85RC256V

[2020-06-21 12:13] Dreamoffice commented on #14
<img width="677" alt="Bildschirmfoto 2020-06-21 um 14 11 20" src="https://user-images.githubusercontent.com/35889916/85224254-3eb3f180-b3c9-11ea-880c-1eb8bd4bf6b9.png">

after updating Home Assistant i have this Problem. anybody an idea ho to fix it?

[2020-06-21 12:24] rspaargaren commented on #14
Hi the max display is unfortunately not in the 14.4 release yet

So you need to add the files to the custom library. Or pull my branch.

Regards

Richard

Verstuurd vanaf mijn iPhone

[2020-06-21 12:36] Dreamoffice commented on #14
@rspaargaren
i added this folder to the path. but still same problem.
<img width="437" alt="Bildschirmfoto 2020-06-21 um 14 35 16" src="https://user-images.githubusercontent.com/35889916/85224713-86884800-b3cc-11ea-84f1-fd046820251b.png">

[2020-06-21 12:49] rspaargaren commented on #14
Did you change anything in folder name or files?

[2020-06-21 12:49] Dreamoffice commented on #14
no

[2020-06-21 17:46] mddeff commented on #769
Would love to be able to manually specify a HA server in the config (either Hostname or IP).  Honestly I'm surprised ESPHome *requires* mdns/same subnet configurations.  (If I'm missing something, please feel free to enlighten)

[2020-06-22 08:02] stskrp opened #777 "Support for MICS 6814"
**Describe the problem you have/What new integration you would like**

Please add support for MICS-6814 sensor

**Please describe your use case for this integration and alternatives you've tried:**

Would be great to monitor CO VOC NH3 Nitrogen Oxygen Gas

**Additional context**

[2020-06-22 10:16] Hedda commented on #688
FYI; @s-hadinger is making great progress hacking the Zigbee module in Sonoff ZBBridge for Tasmota:

- https://github.com/arendst/Tasmota/issues/8583
  - https://github.com/arendst/Tasmota/pull/8709
  - https://github.com/arendst/Tasmota/pull/8739

@mtx512 has now built a custom EZSP NCP firmware for the EFR32 module inside Sonoff ZBBridge:

- https://github.com/mtx512/efr32
  - https://github.com

[2020-06-22 10:17] Hedda commented on #688
Interestingly @s-hadinger now also added a TCP serial bridge to Tasmota firmware for remote access:

- https://github.com/arendst/Tasmota/pull/8702

[2020-06-22 16:34] nmsoares commented on #14
@rspaargaren I have the same issue.
Platform not found: 'display.max7219digit'.

I've copied the your components folder to esphome/components

Can you guide on the correct procedure?
Thanks so much in advance

[2020-06-22 19:37] rspaargaren commented on #14
I wish I could help you on this but I don’t make use of the custom directory. I have asked on discord if that is still working ok for the latest release...

[2020-06-22 19:38] rspaargaren commented on #14
From which brach have you copied the files?

[2020-06-22 22:54] SimplyRun opened #778 "Time-Based Cover - calculate interlock_wait_time to open/close duration + add max_duration"
**Describe the problem you have/What new integration you would like**

**Usage-Info:**
Time-Based Cover for roller shutter (Rolladen) is used.
To prevent my roller shutter motors against blowing up, I implemented interlock + interlock_wait_time. As far as I understood from ESPHome docu, this is more or less taking care that the motor will not be feeded in both directions similutaniously..
Relevant

[2020-06-23 09:19] nmsoares commented on #14
Got it working. I wans't pulling from the right branch. I got it working from the MAX7219_SCROLLNEW. Thanks for the tip! Great work!

[2020-06-23 10:13] Gio-dot commented on #778
Hi, software interlock can't never be a safe and smart solution. Best way is to use an electrical interlock. Take a look here: https://github.com/Gio-dot/Six-shutters-ESP32-controller

[2020-06-23 11:47] SimplyRun commented on #778
Hi Gio-dot,

First of all, many  thanks for that drawing. GREAT!!!
I am currently changing my livingroom, kitchen, dineroom to be one big room.
Therfore I will take care that all cables will be put into a "Smart Cage" with sufficient room to put in my Quinled deca and 16 times relay board.
There I will stick to you drawing to have an electrical interlock, which will work as I have enough room to p

[2020-06-23 12:17] Hedda commented on #688
FYI, Silicon Labs recently just released a less expensive "EFR32xG22 Wireless Gecko Starter Kit" (SLWSTK6021A) development kit for $99 which only contain one mainboard/development board and a couple of EFR32MG22 modules which are low-power Zigbee Green Power compatible Mightly Gecko Series 2 radios.

https://www.silabs.com/products/development-tools/wireless/efr32xg22-wireless-starter-kit

While t

[2020-06-23 12:32] j0nnymoe commented on #552
@Monacoslo Any luck with this? I'm facing the same issue.

[2020-06-23 13:10] nmsoares commented on #14
@rspaargaren How to you control the scroll speed?

[2020-06-23 13:44] Expaso commented on #763
@FrankBakkerNl
Looks like you are nearly there already ;)

Can we not make it even more userfriendly and create a power and energy sensor on top of that?

- A power-sensor for the current Watts, which uses time between 2 pulses and resets on a given timeout. (which won't be completely accurate, I know)
- An Energy-sensor to accumulate the pulses and outputs the total Kwh / m3 / whatever, storing t

[2020-06-23 16:22] craigueh opened #779 "Notification for Dallas "Requested conversion failed""
**Describe the problem you have/What new integration you would like**

I use ESPhome on a Sonoff 4ch R2 for Central Heating system with 6 ds18b20 temp sensors.
Occasionally a sensor fails and takes down the lot, usually the error in the logs is "Requested conversion failed" but HA doesn't see the temp reading as NaN and just gets stuck at the same temp indefinitely.
This is a problem because the t

[2020-06-23 20:14] sergeolkhovik commented on #758
Just tested with latest dev build via docker and still the same error:

[code]

I don't know is that important or not, I'm testing on esp32-cam module, and here's my full config:

[code]

Also may test on pure esp32 module tomorrow.

PS: I commented out camera definition, want to test if camera module heats esp32 and thus affects on PIR sensor sensitivity.

[2020-06-23 21:59] danimart1991 opened #780 "Add support for the ac remote Fujitsu AR-JE5"
**Describe the problem you have/What new integration you would like**

The AC Remote Fujitsu AR-JE5 is not included in the list of compatible Fujitsu remotes of component climate fujitsu_general.

**Please describe your use case for this integration and alternatives you've tried:**

- I try to copy the codes using remote_receiver.
- I try the stable/next/dev versions to check if any contains the r

[2020-06-24 01:10] schinckel commented on #758
FWIW, I wanted the same as this (but the BSSID):

    text_sensor:
      - platform: template
        name: "BSSID"
        lambda: |-
          std::string out;
          char buffer[64];
          uint8_t b[6] = {};
          uint8_t *raw_bssid = WiFi.BSSID();
          if (raw_bssid != nullptr)
            memcpy(b, raw_bssid, sizeof(b));
          sprintf(buffer, "%02X:%02X:%02X:%02X:%02X:%02X

[2020-06-24 03:02] glmnet commented on #14
the folder `esphome-max7219digit` should be named just `max7219digit`

[2020-06-24 03:33] glmnet commented on #769
It’s not simple.

Esphome is actually a server. I.e. hass connects to ESPHome.

There is an old fr about reverting this, which solves other issues too.

[2020-06-24 03:53] wjcarpenter commented on #267
FWIW, I had to include a minimal `spi` definition even though I am not using SPI at all. Otherwise, compilation failed looking for `SPI.h`.

[2020-06-24 05:59] mspinolo commented on #769
Hi,

So being ESPHOME a server why it is sending mDNS packets around?

[2020-06-24 08:03] sergeolkhovik commented on #758
Well, BSSID is already available:

[code]

Works well both on ESP8266 and ESP32.

[2020-06-24 09:51] rspaargaren commented on #14
@nmsoares The most updated brach for the max is:
https://github.com/rspaargaren/esphome/tree/MAX7219NEW
the manual can be found here:
https://github.com/rspaargaren/esphome-docs/blob/Max7219NEW/components/display/max7219digit.rst

The speed of scroll can be set with:

scroll_speed: xxx ms

[2020-06-24 10:04] schinckel commented on #758
Oh, thanks. I missed this whole sensor in the docs!

[2020-06-24 11:01] Depechie commented on #14
@rspaargaren Awesome contribution to ESPHome, thx for this!!

Just wondering, I've been doing a bit of the same with direct ESP programming and created a separate 8x8 icon font to show 'images'... Maybe it would make it easier for people to select one than to supply a correct image file? ( https://github.com/Depechie/ESP8266_MAX72199/blob/master/src/fonts_data.h#L4 )

[2020-06-24 12:00] Monacoslo commented on #552
I realised that last code changes were not deployed. So I carefully verified ESPhome code and deployed again

[2020-06-24 12:35] TessyPowder commented on #124
Any Chance this will get properly implemented in Esphome ?

[2020-06-24 12:43] nikito7 commented on #552
It's working

[2020-06-24 13:44] lujmoarf commented on #14
sorry I'm new to python but I want to play with MAX7219digit before the official release

I'm try to pull the branch with the command below but getting some errors
pip3 install https://github.com/rspaargaren/esphome/tree/MAX7219NEW

I have downloaded the files manually too my and added in the lib folder but cannot get it to work and still getting compilation error

[code]

[2020-06-24 14:05] Hedda commented on #688
Those who are interested in that official $99 SLWSTK6021A started kit might also be interested in buying article SLWRB4180A for around $49 at the same time as that is the matching EFR32MG21 based high-power (+20 dBm) radio board for that dev board kit.

https://www.silabs.com/products/development-tools/wireless/slwrb4180a-efr32-wireless-gecko-radio-board

(Google search shows that SLWRB4180A can b

[2020-06-24 18:21] Puntoboy opened #781 "GPS Location"
**Describe the problem you have/What new integration you would like**

See previous request. https://github.com/esphome/feature-requests/issues/164

**Please describe your use case for this integration and alternatives you've tried:**

GPS tracker

**Additional context**

[2020-06-24 18:22] Puntoboy commented on #622
How did you get sensor data into HA?

[2020-06-24 18:26] kipwittchen commented on #622
I had incorrectly modified the component to pull the sensor information in. It worked but also crashed every 30-120 seconds and I was unable to correctly write the code to work.

I ended up just writing a standard arduino ide script to publish the values to mqtt. I still would prefer using esphome but it serves my purposes well enough in the time being. If that's something you're interested in, I

[2020-06-24 18:29] Puntoboy commented on #622
Thanks. I've never used IDE, I'm just starting out with ESPHome. Was disappointed to read that only time can be used so was hoping for a way to fix it.

[2020-06-24 18:54] rspaargaren commented on #14
Hi,

Did you pull the max7219new branch?

[2020-06-24 18:59] rspaargaren commented on #14
Hi I will have a look. It is quite easy to integrate a standard Icon 8x8 database into the code...

[2020-06-24 21:44] nmsoares commented on #14
@rspaargaren Great work ! Much more stable! I'm just missing on how to turn on/off the display ? Is there a command for that ?
Thanks a Million for this!

[2020-06-24 22:13] craigueh commented on #779
Update:

I managed to work around a notification with the following code to create a binary sensor of system alert state which can be used in Homeassistant to create a mobile app push alert. Works pretty well.

binary_sensor:
  - platform: template
    name: "Dallas Hub Alert"
    lambda: 'return ((App.get_app_state() & STATUS_LED_WARNING) != 0u);'

[2020-06-24 22:37] myfreeweb commented on #718
Looks like there is already work on mDNS-IPv6 in the arduino core: https://github.com/esp8266/Arduino/pull/7335

Unfortunately enabling IPv6 in lwIP currently breaks ESPAsyncTCP: https://github.com/me-no-dev/ESPAsyncTCP/issues/148

[2020-06-25 03:34] dturgel commented on #599
Please add support for mics and speakers - the new TTGO boards are ready for this and so are we.

[2020-06-25 04:33] Gooman-rus commented on #478
Hello.
Is there a way to use this library (cpp) in esphome now?

[2020-06-25 05:31] kbx81 commented on #760
Unfortunately this display isn't quite as similar to the SSD1351 as it probably should be to roll into a single component. Next time I order some hardware, I just might add one of these to the order so I can properly build and test it.

[2020-06-25 09:30] ryrzy commented on #552
hello,
I noticed one thing.
When i chose an sensor in xiaomi app on my phone i noticed that it immediately connects and the bt icon appears on the sensor. It looks like the application can force a connection to the sensor.
Correct me if I'm wrong, but if it's true then maybe you can add this option to your code and we can add update interval :)

[2020-06-25 10:01] pplucky commented on #552
Xiaomi app pairs direct and actively with sensor, which esphome doesn't (and cannot, at the least in the current ble implementation).

esphome just listens passively to whatever the sensor is broadcasting, to avoid battery impact.

[2020-06-25 10:30] Truck0ff commented on #87
Can we implement a custom Bluetooth sensor that can be associated with the esp32 Bluetooth module and read its values.
For me I have door switches and the climate controlled modules.
Sorry my python is very rusty and getting into esphome again after a few years.
I have 3 esp32, and 3 Bluetooth door sensors from Bunnings in the grid connect series. Along with the Bluetooth climate sensors.
I haven’

[2020-06-25 11:00] rspaargaren commented on #14
Hi, I need to update the manual a bit on the "special" labda commands. To turn on off the screen is already foreseen in the code:

it.turn_on_off(true or false);

[2020-06-25 14:32] nmsoares commented on #14
@rspaargaren any way we can have a dynamic intensity ?

[2020-06-25 15:19] lujmoarf commented on #14
@rspaargaren this is the part I'm not sure. how do you pull the branch ?

[2020-06-25 15:36] rspaargaren commented on #14
You mean to set the dim_level in the labda routine like switching the screen on/off?

That would be not a problem.

[2020-06-25 15:38] rspaargaren commented on #14
I am not a python specialist but I did a quick google:

pip install git+https...@my_branch

So in this case the my_branch is MAX7219NEW

[2020-06-25 20:17] nmsoares commented on #14
@rspaargaren something that would allow to control this intensity parameter. Are you able to make changes in order for it to be picked up in the next esphome release ?

[2020-06-25 20:20] rspaargaren commented on #14
The changes to enable the dimfactor are minimal. It was already in an older release, but somehow disappeared...

[2020-06-25 20:23] tkerby commented on #552
I'm finding the dev branch at the moment compiles but restarts with a crashed ESP when it connects to wifi.  Any way to install the support without the dev branch?

[2020-06-25 20:31] rspaargaren commented on #14
Are you able to make changes in order for it to be picked up in the next esphome release ?
@nmsoares Can you update the branch MAX7219NEW on your PC.

This should enable the command;

it.intensity(0 .. 15) in the lambda commands.

This is a quick edit and not tested on my MAX. So please let me know.

[2020-06-25 22:48] nmsoares commented on #14
@rspaargaren I'm on it! give me some time and I'll let yoy know.

[2020-06-25 23:00] nmsoares commented on #14
@rspaargaren Absolutely fantastic! Works beautifully!

[2020-06-26 02:43] wjcarpenter opened #782 "custom sensor platform has no "update_interval""
**Describe the problem you have/What new integration you would like**

Many specifically supported sensors have a configuration item "update_interval". The `platform: custom` does not. Please add "update_interval" or the equivalent.
**Please describe your use case for this integration and alternatives you've tried:**

It seems that the default an only update interval for custom sensors is 15s. Som

[2020-06-26 02:45] wjcarpenter commented on #267
My TSL2591 arrived today, and this custom sensor implementation worked first time. Thanks @nirkons!

That's right before I learned that `platform: custom` doesn't support `update_interval`. (While experimenting with the sensor, I have to wait 15s for each fresh value.) I opened feature request #782 to ask for it.

[2020-06-26 05:39] rspaargaren commented on #14
Good to hear! So yes now it is part of the next release!

[2020-06-26 08:03] j0nnymoe commented on #552
@Monacoslo ah yea got mine working now - In the end I just need to wait some time for values to come through.

[2020-06-26 11:11] coldpenguin commented on #552
Just out of curiosity, those that have crashes on the WIFI with the DEV branch, is your ESP device registering its name on the network correctly? (TLDR; if not, try doing it manually)

I have one ESP with the non-dev branch, and one with the DEV branch. I have noticed that the non-dev one has been reporting temps OK for over a month, but the DEV one stopped a couple of days ago. This is because th

[2020-06-26 11:19] vicfergar opened #783 "Input_number entity definition"
**Describe the problem you have/What new integration you would like**

I would like expose an input_number entity using ESPHome. It can be done using a template to indicate what will happen "on_value"

**Please describe your use case for this integration and alternatives you've tried:**

I would like to implemente a volume and bass level control of a speaker set using ESPHome. Currently I'm using

[2020-06-26 11:20] coldpenguin commented on #552
Is anyone seeing humidity being reported above 50%?
Looking back over my figures for the last month, I am seeing a suspicious ceiling at 49.9%, and then figures don't report again until the humidity appears to drop below 49.9%. Temps are still going up and down in that period OK.
![image](https://user-images.githubusercontent.com/25938531/85851633-fde02200-b7a6-11ea-9593-804d4a9bffa3.png)

[2020-06-26 11:31] pplucky commented on #552
Hello.

Has anyone noticed that batteries are always 100% no matter what? 3 different sensors running and all 100% (never changed).

![image](https://user-images.githubusercontent.com/16407309/85852375-b9598400-b7b0-11ea-85ac-bb6c2ce3c9a1.png)
![image](https://user-images.githubusercontent.com/16407309/85852388-c37b8280-b7b0-11ea-8d30-2540bd28d01f.png)
![image](https://user-images.githubuserconten

[2020-06-26 12:32] lujmoarf commented on #14
I got it working too ! very neat ! great job
thank you so much !

[2020-06-26 12:37] nikito7 commented on #552
BLE signal is weak

[2020-06-26 12:39] pplucky commented on #552
It is actually closer to ESP32 gateway than any of the other 2 (and no more barriers than these also), so that should not be it.

[2020-06-26 12:53] nikito7 commented on #552
Check firmware version with MiHome.
About battery, my never changed.

[2020-06-26 13:15] pplucky commented on #552
All the same: in firmware version 0106, upgrade possible for 0109

[2020-06-26 13:32] Hedda opened #784 "ESPHome support for SONOFF iFan03 (Wi-Fi Ceiling Fan And Light Controller) by ITead"
**Describe the problem you have/What new integration you would like**

Please consider adding support for SONOFF iFan03 Wi-Fi Ceiling Fan And Light Controller from ITead in ESPHome.

- https://www.itead.cc/sonoff-ifan03-wifi-ceiling-fan-light-controller.html

- https://sonoff.tech/product/wifi-diy-smart-switches/ifan03

**Please describe your use case for this integration and alternatives you've t

[2020-06-26 14:45] nikito7 commented on #552
Sensor only advertises every 10 (?) minutes.
Maybe internal timer is affected by the battery.
Most timers are affected.

[2020-06-26 14:47] Monacoslo commented on #552
Where did you check this?

[2020-06-26 14:53] pplucky commented on #552
In Mi Home app:
<img width="375" alt="BT Sensor" src="https://user-images.githubusercontent.com/16407309/85870537-6fcb6200-b7cd-11ea-9814-ed27bd854e1a.png">

(Changelog below was translated from Chinese to English)

[2020-06-26 14:54] pplucky commented on #552
I'll try changing the battery, although no info on it being low (in Mi Home either)

[2020-06-26 20:13] rspaargaren commented on #763
I am having a short look on creating a pulse counter reporting the absolute values. This is not a big deal and try to make a branch. Internally the pulse counter is already counting the total number of pulses...

[2020-06-27 07:03] xcray opened #785 "ble tracker works with smartphones"
esp32 ble tracker not compatable with smartphones
**Describe the problem you have/What new integration you would like**

current esp32 ble tracker not works with smartphones, because the modern phones always adv random addresses.
**Please describe your use case for this integration and alternatives you've tried:**

with compatibility with smartphones, the worth of esp32 ble tracker could be higher

[2020-06-27 07:03] RGN01 commented on #267
I'm trying to get it to work following @OttoWinter advice above and have an SPI error so please could you share what you mean by "minimal 'spi' definition'?

Much appreciated.

[2020-06-27 15:04] kipwittchen commented on #622
@Puntoboy sorry for the delay, here's the arduino script I'm using: https://github.com/kipwittchen/sandbox/blob/master/boat/mqtt_gps_fuel_sensor.ino

It requires a MQTT server such as mosquito to be running. It works reliably but definitely a bit of a hack at the moment, hopefully one of us can get this integration fully working with esphome soon!

[2020-06-27 15:45] Puntoboy commented on #622
Thanks. Struggling with IDE at the moment. Keep getting a stupid error that stops me uploading any code.  Never used it before so unsure if it's something I'm doing wrong.

[2020-06-27 16:10] wjcarpenter commented on #267
I used a block like this (at the same YAML level as my `i2c:` block). Since I wasn't actually using SPI, I just picked some GPIO numbers that I wasn't using for anything. I don't know if that matters, so later I looked up the actual pin numbers for my board and used them.
[code]
I started with just the `spi:` line, and the helpful error messages in the esphome dashboard config editor told me what

[2020-06-27 17:19] kipwittchen commented on #622
Check out this video from bruh: https://www.youtube.com/watch?v=jpjfVc-9IrQ
It's a tad outdated but still a good reference for how to get the esp8266 based boards working with arduino IDE as well as get the libraries loaded in.

[2020-06-27 17:23] Puntoboy commented on #622
Thanks. I've actually watched that before. I seem to be stuck at the first hurdle where IDE is complaining about the esptool directory not being in the same directly as upload.py, when it is.

[2020-06-27 17:33] RGN01 commented on #267
Thank you - that was very helpful. I did the same but as I'm using an ESP-01 there are not many spare pins so I ended up with the following, which seems to work OK!

`spi:
  clk_pin: GPIO1
  mosi_pin: GPIO1
  miso_pin: GPIO1`

[2020-06-27 20:56] rspaargaren commented on #738
Hi since you are owning the VL53L0X sensor are you able to make a final test for the PR: https://github.com/esphome/esphome/pull/1055. This is related to Feature request: https://github.com/esphome/feature-requests/issues/724.
I might be able to have a look at your feature request as well... Is there already existing arduino code enabling this feature request for the esp?

[2020-06-28 08:23] cassieve opened #786 "DS18B20 Auto add/config"
Can you add/config temp sensors automatically?
Basically you can use the id/serial of the DS18B20 sensor instead of us having to config each sensor and upload new firmware?
We can then give it a more friendly name in hassio? I want to build a aquarium controller with ports for sensors - as I get new aquariums, just pop in a sensor... Now I have to config the sensors and upload firmware again and a

[2020-06-28 08:23] #786 closed

[2020-06-28 13:32] tracestep opened #787 "Add "invert" option to gate_pin on ac_dimmer component"
**Describe the problem you have/What new integration you would like**

I am testing the `ac_dimmer` component on the dev branch from [https://github.com/esphome/esphome/pull/880](url) (pull request is closed for comments) and it works well, but it would be useful to add some kind of "invert" option for the triac `gate_pin`, so that it is activated on logical low instead of logical high. Maybe that

[2020-06-29 05:55] rspaargaren commented on #14
The max7219 display is now merged into dev!

[2020-06-29 11:50] #14 closed

[2020-06-29 11:50] glmnet commented on #14
Thanks!! Closing this

[2020-06-29 12:07] rradar commented on #738
I have two TOF sensors (VL53L0X) so if there is something to test please tell me :wink:

[2020-06-29 12:09] rradar commented on #124
I guess the best would to support [RadioLib](https://github.com/jgromes/RadioLib) but I could imaging that this is a bunch of work

[2020-06-29 12:59] theone11 commented on #437
When is this planned to be released to the dev branch? Can't wait to use it :)

[2020-06-29 13:24] corvis commented on #437
Good question. My pull request is still under review and I never get any feedback. This makes me think it will not happen any time soon. Maybe we could ask @glmnet to take a look.

[2020-06-29 17:59] Svrbinek commented on #738
Hi, I can test in a week. I have enough sensors. What do you need to test specifically?

[2020-06-29 18:51] andriuspetrauskis commented on #741
I have this sensor and so I would love to see it integrated :)

[2020-06-29 18:56] XtremeOwnageDotCom commented on #526
I have this issue as well. Using a shelly 2.5 to control the doubleswitch in my entryway. One switch- activate the porch lights (Front porch area). The other switch activates the lights in the Entryway (Hallway Area).

Also- I have ONVIF cameras. One inside of a bedroom for monitoring the kids, and one on the front porch. I can only assign both of the cameras to the same area, which is not what is

[2020-06-29 21:38] nikito7 commented on #552
Battery changed...

![20200629_223454](https://user-images.githubusercontent.com/45373783/86058722-3dce3000-ba59-11ea-8c4e-da7600b627e3.jpg)

[2020-06-29 22:31] jscarlett5 opened #788 "DFPlayer Mini additional features"
**Describe the problem you have/What new integration you would like**

The DFPlayer has many unused features. There are a number of query commands that could provide useful feedback of the player's status. Right now, I send commands (which is amazing! thank you!), but I would love for the unit to report volume level, playing status and if possible track name to home assistant.

**Please describe y

[2020-07-01 12:00] glmnet commented on #787
Gate pin uses pin schema, that is, configuring it’s output as inverted should work that way.

If it does not work please fill a bug report.

I’m closing this but keep asking if you need more info.

[2020-07-01 12:00] #787 closed

[2020-07-01 16:58] Lars83 commented on #552
Hello everyone, I registered here as this is the only forum where the Xiaomi sensors LYWSD03MMC are discussed. I do not have a home assistant but a homebridge, but maybe there is someone here who is familiar with homebridge.
I try to integrate the sensors into my homekit via Homebridge, but unfortunately without success. I managed to determine the bindKey and insert it together with the MAC addres

[2020-07-01 17:17] nikito7 commented on #552
Maybe o already know it: https://www.npmjs.com/package/homebridge-mi-hygrothermograph

For temperatures wait 15min
For battery wait 1 hour
Check for rssi

[2020-07-01 18:59] tracestep commented on #787
I was not sure if it was supposed to... Thanks for the answer, bug reported submitted: [https://github.com/esphome/issues/issues/1318](url)

[2020-07-01 19:34] Lars83 commented on #552
Yes, I've already read that.
The sensor has been integrated for a few days but so far nothing is always there.
maybe it is the config.jason or possibly the bluethooth.

[2020-07-01 23:16] glmnet commented on #788
Track name would be interesting if provided. I couldn't find any docs pointing to that. Where did you find info on the 0x4B command?

[2020-07-01 23:31] #788 closed

[2020-07-01 23:35] jscarlett5 commented on #788
It's in https://wiki.dfrobot.com/DFPlayer_Mini_SKU_DFR0299 under Serial Query Cmd. It says "Queries the current track of TF card" But maybe that means track number or something. They didn't give an example of it.

[2020-07-02 04:34] krambriw commented on #133
Hello, first thanks for providing the nice ESPHome project
This issue about a secure MQTT connection is a very important and missing part if you plan to connect an ESP32 device directly to a MQTT cloud service. Maybe there is a possibility now since a version of esp-mqtt supporting TLS has just been [released:](https://github.com/espressif/esp-mqtt)
I have no knowledge how to create or update the